.user-info {
	display: inline-block;
}

.account-box .row.callout-row, 
.callout-row {		
	background: #f5f5f5;	
	padding-left: 10px;
	padding-right: 10px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-background-clip: padding-box; 
	background-clip: padding-box;	
}	
.callout-row--round {
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
	.callout-link {
		display: block;
	}
	.callout-row__text {
		font-weight: bold;
		overflow:hidden;
		line-height:30px;
		margin: 0;		
	}	
	.account-box .callout-row a,
	.account-box .callout-row h3, 	
	.callout-row h3,
	.callout-row__text { 
		color: #5b5f68; 
	}
	.account-box .callout-row h3 {	
		font-size: 18px; 		
	}		
		.callout-row__text.has-icon { 
			position: relative; 
			padding-left: 36px; 
		}		
		.callout-row__icn--left { 
			font-size: 25px; 
			position: absolute; 
			top: -2px; 
			left: 0; 
		}
		.callout-row__icn--left {
			left: 10px;
			top: 10px;
		}		
		.callout-row__icn--right { 
			text-shadow: 0 0 1px rgba(0,0,0,0.5); 
			float: right;
			color: #cacaca; 			
			font-size: 1.3em; 
			margin-right: 5px;
			line-height: 30px;
		}

.account-box label { 
	font-size: 18px;
	width: 95%; 
	padding-top: 4px;
	line-height: 1.25; 
	display: inline-block; 
	overflow: hidden;
	white-space: nowrap;
	word-wrap: break-word;
	text-overflow: ellipsis;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.account-box p { margin: 0; padding: 8px 0; }
.account-box .button { float: right; width: 140px; margin: 0 0 0 10px; padding: 0; }
	.account-box .multi .button { width: 90px; }		

.account-box .third .select2-container, .account-box .forty .select2-container  { 
	width: 95%; 
	position: relative; 
	left: -8px;
}	
.account-box .select2-container .select2-choice div b { color: #60636a; }
	.account-box .select2-container .select2-choice div b:after { border-top-color: #60636a; }
	.account-box .select2-container .select2-choice div b:before  { border-bottom-color: #60636a; }
.account-box .select2-container { height: 29px; }
.no-js .account-box select { 
	padding: 5px 3px 4px 8px; 
	font-size: 0.8em;
}

@media only screen and (max-width: 900px) {
	.account-box label { 
		width: 95%;
		font-size: 16px; 
	}
}
	
@media only screen and (max-width: 60em) {
	.no-js .account-box select, .account-box .third .select2-container, .account-box .forty .select2-container { 
		width: 102.5%;
		margin-bottom: 8px;
	}
	.account-box label { 
		white-space: normal;
		widtH: auto; 
	}
}