
.comment { position: relative; }
.comment.row { margin: 8px auto; }
	.blog-content .comment.tier1 { margin-right: 4px; }
	.comment.row .comment.row { margin: 0 auto 16px; }
		.comment.row .comment.row + .comment.row { margin-top: -8px; }
	.comment .user-avatar { 
		width: 48px;
		height: 48px;
		line-height: 48px;
		font-size: 200%;
		position: absolute;
		top: 8px;
		left: 0;
		float: none; 
	}
		.comment .comment .user-avatar { 
			width: 32px; 
			height: 32px; 
			line-height: 32px; 
			font-size: 150%; 
			left: 18px;
			top: 18px;
		}
		
	.comment-meta, .comment-foot a { 		
		color: #7a7b80;
		font-size: 0.85em;
	}		
		.comment-meta {
			display: block; 
			line-height: 1;
			margin: 7px auto 11px;
		}
		.comment-meta .comment-toggle {
			color: #b8b8b8;			
			font-size: 1.5em;
			position: relative;			
			left: 6px;
			top: 0;
			display: inline-block;
			height: 12px;
			overflow:visible;
		}
		.voting + .comment-body .comment-meta { padding-right: 5px; }
	.comment-foot {
		background: #f3f3f3;		
		-webkit-box-shadow: inset 0 1px 0 #fff;
		-moz-box-shadow: inset 0 1px 0 #fff;
		box-shadow: inset 0 1px 0 #fff;
	}
		.comment.row .comment-body .comment-foot.row { padding: 0; border-top: 1px solid #d9d9d9; }
		.comment-foot a {			
			line-height: 34px;
			padding: 0 14px 0 21px;			
			height: 34px;
			display: block;
			float: left;
			border-right: 1px solid #d9d9d9;
			-webkit-box-shadow: 1px 0 0 #fff;
			-moz-box-shadow: 1px 0 0 #fff;
			box-shadow: 1px 0 0 #fff;
		}
			.comment-foot a:hover { background: #fff; }
			.comment-foot a .icon-search, .comment-foot a .icon-bubble { 
				color: #b1b2b6; 
				font-size: 1.3em;
				position: relative;
				left: -6px;
				top: 2px;
				
			}
			
		.comment-foot .comment-meta {
			display: inline-block; 
			margin: 0 0 0 16px;			
			line-height: 34px;
		}
	.comment-body { 
		margin: 0 13px 0 71px; 
		border: 1px solid #cacaca;
		position: relative;		
		z-index: 1;
		background: #fff;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	}
		.voting + .comment-body { margin-right: 34px; }
		.comment-body .comment-body { margin-left: 53px; }
		.comment.row .comment-body .row { padding: 8px 10px 8px 17px; }
		.comment-body p { margin: 4px auto; color: #464749; font-size: 1.2em; }		
		.comment-body:after, .comment-body:before { 
			display: block; 
			position: absolute; 
			z-index: -1; 
			content: ""; 
			width: 0; 
			height: 0;     
			top: 19px;
			border-bottom: 9px solid transparent; 
			border-top: 9px solid transparent;        
			border-left: 0;
		}  
		  .comment-body:before {    
			left: -10px; 
			border-right: 9px solid #cacaca;     
		  }
		  .comment-body:after {    
			left: -8px;
			border-right: 9px solid #fff; 
		  }
		  .tier4 .comment-body:after, .tier4 .comment-body:before {
			display: none;
		  }
		  .comment-body .tier4 .comment-body { margin-left: 0;}
		  .tier4 .user-avatar { display: none; }

.comment .voting {
	position: absolute;
	top: 8px;
	right: 0;
	z-index: 10;
}
	.comment .comment .voting { right: 9px; }
	.comment .voting .button {
		display: block;
		width: 26px;
		height: 25px;
		line-height: 25px;
		padding: 0;		
		margin: 0 auto 5px;
		font-size: 0.7em;
	}
	
.voting .button {
	color: #9c9c9c;
}	
	.voting .upvote:hover, .voted .upvote.voted { color: #64bb36; }
	.voting .downvote:hover, .voted .downvote.voted { color: #c6210e; }
	.voted .button:before { opacity: 0.1; }	
	.voted .button.voted:before, .voted .button:hover:before { opacity: 1; }	

.comment .voting .votes	{ 
	font-size: 1em; 	
	position: absolute;	
	right: 34px;
	text-align: right;
	height: 25px;
	line-height: 25px;
}
	.comment .voting .votes.positive	{ color: #d0efbf; top: 3px; }
	.comment .voting .votes.negative	{ color: #f1d1cd; top: 35px; }
	
/* the original design had the voting buttons outside the comment body 
   - this moves them inside (same as media query below) */
.comment .voting { top: 5px; right: -1px; }
	.comment .comment .voting { top: 13px; }
	.voting + .comment-body { margin-right: 0; }
		.voting + .comment-body p { padding-right: 13px; }
		.voting + .comment-body .comment-meta { padding-right: 16px; }
		
.comment_add_title { margin: 18px 0 0; }
	/* for display on the translation page */
	.row.comments .comment_add_title { margin: 0 0 8px; color: #8f8f8f; font-size: 1em; float: left; width: 131px; }
	.row.comments .tier1-new { margin-right: 13px; }
	
/* simple control of comment tiers - broken up to be easier to read and comprehend */
.min.tier1 .comment.tier2, .min.tier1 .max-msg, .max.tier1 .min-msg, .min.tier1 .comment-meta .comment-toggle { display: none; }
.max.tier1 .comment.tier2 { display: block; }
.max.tier1 .max-msg, .min.tier1 .min-msg { display: inline; }
	.min.tier2 .comment.tier3, .min.tier2 .max-msg, .max.tier2 .min-msg, .min.tier2 .comment-meta .comment-toggle { display: none; }
	.max.tier2 .comment.tier3 { display: block; }
	.max.tier2 .max-msg, .min.tier2 .min-msg { display: inline; }
		.min.tier3 .max-msg, .max.tier3 .min-msg, .min.tier3 .comment-meta .comment-toggle { display: none; }
		.max.tier3 .comment.tier2 { display: block; }
		.max.tier3 .max-msg, .min.tier3 .min-msg  { display: inline; }
		
/* generic child selectors to do the same thing */
.min.comment > .comment-body > .comment, 
.min.comment > .comment-body > .comment-foot > .comment-toggle > .max-msg,
.max.comment > .comment-body > .comment-foot > .comment-toggle > .min-msg,
.min.comment > .comment-body > .comment-meta > .comment-toggle { display: none; }

.max.comment > .comment-body > .comment { display: block; }

.min.comment > .comment-body > .comment-foot > .comment-toggle > .min-msg,
.max.comment > .comment-body > .comment-foot > .comment-toggle > .max-msg{ display: inline; }

@media only screen and (max-width: 600px) {		
	.comment .user-avatar { 
		width: 32px; 
		height: 32px; 
		line-height: 32px; 
		font-size: 150%;
		top: 16px;
	}
	.comment-body { margin-left: 52px; }
}

@media only screen and (max-width: 500px) {	
	.comment .voting { top: 13px; right: -1px; }
	.voting + .comment-body { margin-right: 0; }
		.voting + .comment-body p { padding-right: 13px; }
		.voting + .comment-body .comment-meta { padding-right: 16px; }	
	.comment-body, .comment-body .comment-body, .row.comments .tier1-new { margin: 0; }
		.comment .user-avatar { display: none; }
		.comment-body:after, .comment-body:before { 
			display: none;
		}
}