/*
	DDGC
	
	A 'temp' file for styling that should be moved and organized to the correct
	community platform static files.
	
	https://github.com/duckduckgo/community-platform-static
*/

.userbadge {
	width: 13px;
	height: 13px;
	position: relative;
	top: 2px;
}