/* UNIVERSAL */

a {
	color: #1168CC;
}

a:visited {
	color: #6830BB;
}

.centered_content {
	margin: 0px auto;
	width: 1024px;
}

p {
	padding: 10px;
}

.error {
	padding: 10px;
	font-size: large;
	font-weight: bold;	
	color: #f00;
}

.menu {
	padding: 10px;
	margin: 10px;
	font-size: large;
	font-weight: bold;
}

.buttonwrap {
	float: right;
	margin-top: 10px;
}

.button {
	padding: 10px;
	background: url('/static/images/button-bg.png') repeat-x #bdf;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	border-radius: 4px;
	color: #222;
	text-decoration: none;
	font-family: sans-serif, arial;
	text-shadow: 1px 1px 1px #eee;
}

.button:hover {
	background-color: #fff;
}

.button:active {
	background-color: #9bd;
}

/* base.tt */

#wrapper {
	position: absolute;
	min-width: 500px;
	width: 100%;
	overflow: visible;
}

#header {
        width: 100%;
/*        padding-bottom: 0px;*/
	background: url('/static/images/headerbg.v101.lblue.png') repeat-x lightblue;
	overflow: hidden;
	z-index: 5;
	border-bottom: 1px solid #F3F9FD;
	height: 64px;
	box-shadow: 0px 2px 3px #000;
}

#logo { 
	margin-top: -15px;
}

header {
	padding: 20px;
}

#headline {
	background-color: #f2f8fc;
	padding: 10px;
	font-size: x-large;
	font-weight: bold;
	box-shadow: 0px 2px 2px #000;
}

#headline_content {
	margin: 10px auto;
	width: 1024px;
}

#content {
	background-color: #e1e7fb;
	box-shadow: inset 0px 2px 3px rgba(0,0,0,0.2);
	padding: 10px;
	/*margin-top: 100px;*/
}

#footer {
	background-color: pink;
	padding: 10px;
}

#footer_content {
	margin: 0px auto;
	width: 1024px;
}

.fancymenu {
	padding: 5px;
	position: absolute;
	z-index: 10;
	right: 10px;
	top: 0px;
	border-radius: 4px;
}

.fancymenu:hover {
	background-color: #fff;
	border: 1px solid #DDD;
	margin-top: -1px;
	margin-right: -1px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2)
}

.fancymenu_headline {
	padding: 10px;
	background: url('/static/images/triangle.png') no-repeat scroll 0px 15px transparent;
}

.fancymenu_content {
	background-color: #fff;
}

.fancymenu_content p {
	position: relative;
	left: -5px;
	width: 96%;
}

.fancymenu_content p:hover {
	background-color: #e1e7fb;
}

#languagebox {
	position: absolute; 
	top: 70px; 
	right: 15%; 
	/*float: right;*/ 
	z-index: 8;
	min-width: 420px;
}

#languagebox_content p:hover {
	width: 98%;
}

/*#languagebox_headline {
	background-color: yellow;
	padding: 10px;
}

#languagebox_content {
	background-color: orange;
	padding: 10px;
}*/

/* base/welcome.tt | headline/welcome.tt */

.feature_box {
	width: 250px;
	height: 250px;
	margin: 10px;
	background-color: #e1e7fb;
	border-radius: 4px;
	box-shadow: inset 2px 2px 4px rgba(0,0,0,0.2), inset -2px -2px 4px rgba(0,0,0,0.2);
	float: left;
	padding: 10px;
}

.feature_wide {
	width: 400px;
}

#welcome_features {
	height: 270px;
}

.welcome_cols {
	width: 475px;
	margin: 10px;
	padding: 10px;
	background-color: lightblue;
	border-radius: 4px;
}

/* TODO: bad idea, requires that #welcome_left is always bigger than #welcome_right */
#welcome_right {
	float: right;
}

.welcome_headline {
	padding: 10px;
	font-size: large;
	font-weight: bold;
}

.welcome_entry {
	padding: 10px;
}

/* my/...tt */

.mybox {
	background-color: #A8CFE8;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
	/* TODO|FIXME This makes it suck when the window is tiny */
	max-width: 100%;
	min-height: 20px;
}


/* translate/ */

.tokentable td {
	margin: 2px;
	padding: 2px;
}

.help {
	float: right;
	position: relative;
	color: #666;
	background-color: rgba(103,133,179,0.5);
	border: 1px solid #bbf;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
	border-radius: 4px;
	text-decoration: none;
	padding: 4px;
	top: -10px;
	right: -10px;
	cursor: pointer;
}

/****************** legacybox *****************/

.legacybox {
	padding: 10px;
	font-family: "Segoe UI","Arial",sans-serif;
	font: 20px arial,helvetica,clean,sans-serif;
	color: #222222;
	text-align: center;
}
