/*ddg wider screens*/

body {
  min-width: 820px;
  padding: 0;
}

#access {
  position: absolute;
  margin: -5em 0 0 -999px;
}
        #access a:focus {
          margin: 6em 0 0 1300px;
          text-decoration: none;
        }

.header {
  min-height: 85px;
}

#logo {
  float: left;
  margin: 5px 1em 0 5px;
}

/*iframe*/
#hf {
  float: left;
  max-width: 30em;
  margin: 0 1em 1em 5em;
  padding-top: 1em;
  font-size: 1em;
}
#hf input[type=text] {
  width: 75%;
}

#logreg {
  float: right;
  margin: 5px 5px .5em 0;
  width: 27em; /*login form*/
  padding: 5px;
  border: 1px solid transparent;
}
#logreg.user {
  width: 16em;/*logged-in width*/
}
        #logreg:hover {
          background-color: #fff;
          border-color: #666;
        }

#logreg p:first-child, #logreg a.profile {
  padding-bottom: 2px;
  font-weight: normal;
  border-bottom: 0;
}

/*temp, for JS*/
#logreg p.view {
  float: right;
  width: 9em;
  padding-left: 12px;
  background: url(../images/triangle.png) 0 50% no-repeat;
}
        #logref p.view+form {
          clear: right;
        }

#logreg form div {
  display: inline-block;
  min-width: 11em;
  margin-bottom: 0;
  vertical-align: top;
}
*+html  #logreg form div {display: inline;}

#logreg input[type=text],
#logreg input[type=password] {
  padding: .3em .2em;
}
#logreg input[type=password] {
  margin-bottom: 0;
}

#logreg input+a {
  display: block;
  margin-left: 0;
  padding: .2em;
  text-align: center;
  white-space: normal;
}

#logreg input[type=submit] {
  width: auto;
  margin-top: 1.1em;
  padding: .2em;
}

#logreg form+p {
  margin-top: -1.4em;
  padding-right: .5em;
  text-align: right;
}

#logreg form+p a {
  display: inline;
  margin: 0;
  padding: .2em;
  color: #277bbc;
  font-weight: normal;
  font-size: .9em;
  background-color: transparent;
  border: 0;
}
        #logreg form+p a:focus, #logreg form+p a:hover {
          text-decoration: underline;
        }

/*logged in*/
#logreg>ul {
  position: relative;
  margin-bottom: 0;
  z-index: 15;
}
        #logreg a.profile {
          padding: .6em 12px .6em .6em;
          background: url(../images/triangle.png) 100% 80% no-repeat;
        }
/*opera vert-align bug:
http://www.css-lab.com/bug-test/opera-img-va-bug.html */
        #logreg a img {
          vertical-align: text-bottom;
        }
        #logreg a.profile:focus {
          background-color: #fff;
        }

        #logreg ul ul {
          position: absolute;
          left: 0;
          width: 16em;
          margin-left: -9999px;
          padding: 5px;
          background-color: #fff;
          border: 1px solid #666;
          border-top: 0;
        }

        #logreg ul a:focus+ul, #logreg ul li:hover ul {
          left: auto;
          margin-left: -6px;
        }
        #logreg ul a:focus:hover {
          margin-left: 0; /*fix Mozilla's b0rkness: add margins of both states*/
        }

        #logreg ul ul a {
          padding: .6em;
          color: #277bbc;
          background-color: transparent;
          border-bottom: 0;
        }
                #logreg ul ul a:before {
                  content: "";
                }

                #logreg ul ul a:focus, #logreg ul ul a:hover { 
                  background-color: #dbe4ea;
                }
                /*keyboardable*/
                #logreg ul ul a:focus {
                  width: 14.5em;
                  margin-left: 9999px;
                }

.main {
  clear: both;
  width: 80%;
  max-width: 80em;
  min-width: 820px;
  min-height: 350px;
  margin: 0 auto;
  padding: 1em 0 .5em;
  overflow: hidden;
}

h1 {
  margin: 0 0 .6em;
  font-size: 1.4em;
}

h2 {
  margin: .4em 0;
  font-size: 1.2em;
}

h3 {
  margin-bottom: .2em;
  font-size: 1.1em;
}


.text {
  text-align: left;
}

.text p {
  line-height: 1.2em;
}

.actions {
  text-align: center;
}

.actions li {
  display: inline-block;
  width: 30%;
  min-height: 8em;
  margin: 0 .2em 1.5em;
  padding: .5em;
  vertical-align: top;
  text-align: left;
}
*+html .actions li {display: inline;}

.getstarted li {
  width: 25%;
}

.actions li:first-child {
  margin-left: 0;
}
        /*main page*/
        .getstarted li:first-child {
          width: 40%;
        }

.actions li:last-child {
  margin-right: 0;
}

        .getstarted a {
          min-height: 6em;
          font-size: 1.8em;
        }
                .getstarted a:hover {
                  text-decoration: none;
                }
/*mainpage*/
.aboutddg {
  width: 45%;
  padding: 15px;
  margin-bottom: 2em;
}

/*myaccount*/
.account div {
  width: 90%;
  margin: 0 auto 2em;
  padding: 7px .8em;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px; /*temp*/
}

.text dl {
  width: 24em;
  margin: .2em 7px 1em;
  padding: 7px;
  background-color: transparent;
  border: 0;
}
        .text dt, .text dd {
          display: inline-block;
          margin-bottom: .2em;
          vertical-align: top;
        }
        *+html .text dt,*+html .text dd{display:inline;}

        .text dt {
          width: 48%;
          margin-right: 7px;
        }

/*translate snippets etc*/
#languageBox {
  position: relative;
  float: right;
  width: 48%;  
  padding: 5px;
  text-align: left;
  border: 1px solid transparent;
  z-index: 5;
}
        #languageBox:hover {
          background-color: #fff;
          border-color: #666;
        }

#languageBox>li {
  font-size: 1em;
  text-align: right;
}
        #languageBox>li a[href="#void"] {
          padding: .2em;
        }

#languageBox ul {
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0 0 0 -9999px;
  padding-bottom: 5px;
  background-color: #fff;
  border: 1px solid #666;
  border-top: 0;
}
        #languageBox a:focus~ul, #languageBox li:hover ul {
          left: -1px;
          margin-left: 0;
          right: 0;
        }
        #languageBox ul a:focus:hover {
          margin-left: 0;
        }
                #languageBox ul a:focus {
                  width: 96%;
                  margin-left: 9999px;
                }

        #languageBox ul a {
          display: block;
          margin: 0 5px;
          padding: .6em;
          font-size: .8em;
          background-color: transparent;
          border-bottom: 0;
        }
                #languageBox ul a:focus, #languageBox ul a:hover {
                  background-color: #dbe4ea;
                }

#formPages {
  float: left;
  width: 40%;
  margin: 0 5px 5px;
  text-align: left;
  border: 0;
}

#formPages label {
  display: inline-block;
  margin: 0 .2em .5em 0;
}
#formPages div {
  display: inline-block;
  margin-left: .5em;
}
*+html #formPages{display:inline;}

#formPages select {
  margin-bottom: .2em;
  padding: 1px;
}

#formTranslateDomain {
  clear: both;
  overflow: hidden;
}
        #formTranslateDomain fieldset fieldset {
          padding: .5em 5px .5em 1em ;
        }
        #formTranslateDomain>fieldset:nth-child(2n) {
          background-color: #dbe4ea;
        }

form div.translations {
  display: inline-block;
  width: 28%;
  margin-left: 1em;
  padding: 7px;
  border-bottom: 0;
}
*+html form div.translations{display:inline;}

        form div.translations:first-child {
          border: 0;
        }

#formTranslateDomain input[type=submit] {
  float: left;
  width: auto;
}
        #formTranslateDomain input[type=submit]+input[type=submit] {
          float: right;
        }


#footer {
  clear: both;
  padding-top: .5em;
}

#footer li {
  display: inline-block;
  margin: 0 .2em;
  padding: .2em 0;
  font-size: .9em;
}

#footer li:before {
  display: inline-block;
  content: "|";
  margin-right: .5em;
  color: #666;
}
        #footer li:first-child:before {
          content: "\a0";
          color: #fff;
        }
        #footer ul+ul {
          border-top: 0;
        }
                #footer ul+ul li {
                  display: inline-block;  
                }
                *+html #footer ul+ul li {display: inline;}

        #footer li:last-child {
          text-align: left;
        }
