/*ddg wider screens*/

body {
  min-width: 820px;
  padding: 0;
}

#access {
  position: absolute;
  margin: -5em 0 0 -999px;
}
        #access a:focus {
          margin: 6em 0 0 1300px;
          text-decoration: none;
        }

.header {
  min-height: 90px;
  color: #fff;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.15);
}

.header a {
  color: #fff;
}

#logo {
  float: left;
  margin: 15px 1em 0 5px;
  vertical-align: middle;
  height: 100%;
}

/*iframe*/
#hf {
  float: left;
  max-width: 30em;
  margin: 0 1em 1em 5em;
  padding-top: 1em;
  font-size: 1em;
}
#hf input[type=text] {
  width: 75%;
}

#logreg {
  float: right;
  margin: 0px 2px .5em 0;
  width: 27em; /*login form*/
  padding: 5px;
  border: 1px solid transparent;
}
#logreg.user {
  width: 16em;/*logged-in width*/
}
        #logreg:hover {
          background-color: rgba(100,100,100,0.3);
          border: 1px solid #00A94E;
        }
        #logreg.user:hover {
          background-color: #fff;
          border-color: #666;
        }

/*temp, for JS*/
#logreg p.view {
  float: right;
  width: 9em;
  padding-left: 12px;
  background: url(../images/triangle.png) 0 50% no-repeat;
}
        #logref p.view+form {
          clear: right;
        }

#logreg form div {
  display: inline-block;
  min-width: 11em;
  margin-bottom: 0;
  vertical-align: top;
}
*+html  #logreg form div {display: inline;}

#logreg input:not([type=submit]) {
  padding: .3em .2em;
}
#logreg input[type=password] {
  margin-bottom: 0;
}

/*forgot password*/
#logreg input+a {
  display: block;
  margin-left: 0;
  padding: .2em;
  text-align: center;
  white-space: normal;
}

#logreg input[type=submit] {
  width: auto;
  margin-top: 1.1em;
  padding: .2em;
}

#logreg form+p {
  margin-top: -1.3em;
  padding-right: .5em;
  text-align: right;
}

#logreg form+p a {
  display: inline;
  margin: 0;
  padding: .2em;
  color: #fff;
  font-weight: normal;
  font-size: .9em;
  text-decoration: underline;
  background-color: transparent;
  border: 0;
}
        #logreg form+p a:focus, #logreg form+p a:hover {
          text-decoration: none;
        }

/*logged in*/
#logreg>ul {
  position: relative;
  margin-bottom: 0;
  z-index: 15;
}

        #logreg a.profile {
          padding: .6em 12px .6em .6em;
          font-weight: normal;
          background: url(../images/triangle.png) 100% 80% no-repeat;
          border-bottom: 0;
        }
/*opera vert-align bug:
http://www.css-lab.com/bug-test/opera-img-va-bug.html */
        #logreg a img {
          vertical-align: middle;
          padding-right: 4px;
        }
        #logreg a.profile:focus {
          background-color: #fff;
        }

        #logreg ul ul {
          position: absolute;
          left: 0;
          width: 16em;
          margin-left: -9999px;
          padding: 5px;
          background-color: #fff;
          border: 1px solid #666;
          border-top: 0;
        }

        #logreg ul a:focus+ul, #logreg ul li:hover ul {
          left: auto;
          margin-left: -6px;
        }
        #logreg ul a:focus:hover {
          margin-left: 0; /*fix Mozilla's b0rkness: add margins of both states*/
        }

        #logreg ul ul a {
          padding: .6em;
          color: #277bbc;
          background-color: transparent;
          border-bottom: 0;
        }
                #logreg ul ul a:before {
                  content: "";
                }

                #logreg ul ul a:focus, #logreg ul ul a:hover { 
                  background-color: #dbe4ea;
                }
                /*keyboardable*/
                #logreg ul ul a:focus {
                  width: 14.5em;
                  margin-left: 9999px;
                }

.main {
  clear: both;
  width: 80%;
  max-width: 80em;
  min-width: 820px;
  min-height: 350px;
  margin: 0 auto;
  padding: 1em 0 .5em;
  overflow: hidden;
}

h1 {
  margin: 0 0 .6em;
  font-size: 1.4em;
}

h2 {
  margin: .4em 0;
  font-size: 1.2em;
}

h3 {
  margin-bottom: .2em;
  font-size: 1.1em;
}


.text {
  text-align: left;
}

.text p {
  line-height: 1.2em;
}

dl {
  margin: .2em 7px 1em;
  padding: 7px;
  background-color: transparent;
  border: 0;
}
        dt, dd {
          display: inline-block;
          margin-bottom: .2em;
          vertical-align: top;
        }
        *+html dt,*+html dd{display:inline;}

table tr:hover td {
  background-color: #eee;
}

.actions {
  text-align: center;
}

.actions li {
  display: inline-block;
  min-height: 8em;
  width: 30%;
  margin: 0 .2em 1.5em;
  padding: .5em;
  vertical-align: top;
  text-align: left;
}

#domainbox li {
  display: block;
  width: auto;
}

.actions li a.flag {
  text-decoration: none;
}

*+html .actions li{display: inline;}

.getstarted li {
  width: 25%;
}

.actions li:first-child {
  margin-left: 0;
}
        /*main page*/
        .getstarted li:first-child {
          width: 40%;
        }

.actions li:last-child {
  margin-right: 0;
}

        .getstarted a {
          min-height: 6em;
          font-size: 1.8em;
        }
                .getstarted a:hover {
                  text-decoration: none;
                }
/*mainpage*/
.aboutddg {
  width: 45%;
  padding: 15px;
  margin-bottom: 2em;
}

/*myaccount*/
.account div {
  width: 90%;
  margin: 0 auto 2em;
  padding: 7px .8em;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px; /*temp*/
}

dl.myAccount {
  width: 24em;
}
        .myAccount dt {
          width: 48%;
          margin-right: 7px;
        }

/*edit my languages*/
.tableMyLanguages {
  max-width: 30em;
  margin: 1em auto;
}

.langGrades {
  width: 30em;
  margin: 0 auto 1em;
  text-align: left;
}

.langGrades dt, .langGrades dd {
  display: block;
}
.langGrades dd {
  margin-bottom: 1.5em;
}


/*admin interface*/
ul.admin {
  border: 0;
}
        .admin li {
          display: inline-block;
          padding: 5px .6em 5px 0;
          font-size: 1.2em;
          text-align: center;
        }
        *+html .admin li{display:inline;}

                .admin li:before {
                  content: "|\0a";
                }
                .admin li:first-child:before {
                  content: "";
                }
        .admin a {
          display: inline;
          padding: .5em;
          color: #277bbc;
          font-size: .9em;
          background-color: transparent;
          border-bottom: 0;
        }
                .admin a:hover {
                  background-color: transparent;
                }
          
/*translate snippets etc*/
#languageBox {
  position: relative;
  float: right;
  width: 48%;  
  padding: 5px;
  text-align: left;
  border: 1px solid transparent;
  z-index: 5;
}
        #languageBox:hover {
          background-color: #fff;
          border-color: #666;
        }

#languageBox>li {
  font-size: 1em;
  text-align: right;
}
        #languageBox>li a[href="#void"] {
          padding: .2em;
        }

#languageBox ul {
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0 0 0 -9999px;
  padding-bottom: 5px;
  background-color: #fff;
  border: 1px solid #666;
  border-top: 0;
}
        #languageBox a:focus~ul, #languageBox li:hover ul {
          left: -1px;
          margin-left: 0;
          right: 0;
        }
        #languageBox ul a:focus:hover {
          margin-left: 0;
        }
                #languageBox ul a:focus {
                  width: 96%;
                  margin-left: 9999px;
                }

        #languageBox ul a {
          display: block;
          margin: 0 5px;
          padding: .6em;
          font-size: .8em;
          background-color: transparent;
          border-bottom: 0;
        }
                #languageBox ul a:focus, #languageBox ul a:hover {
                  background-color: #dbe4ea;
                }

/*my/register, login, email, public*/
.main form.my {
  width: 26em;
  margin: 1em auto;
}

/*make register a link*/
.main #formLogin+p a {
  display: inline;
  color: #277bbc;
  text-decoration: underline;
  background-color: transparent;
  border: 0;
}  
        .main #formLogin+p a:focus, .main #formLogin+p a:hover {
          text-decoration: none;
          background-color: transparent;
        }
        .main #formLogin+p a:active {
          position: static;
        }

#formPages {
  float: left;
  width: 40%;
  margin: 0 5px 5px;
  text-align: left;
  border: 0;
}

#formPages label {
  display: inline-block;
  margin: 0 .2em .5em 0;
}
#formPages div {
  display: inline-block;
  margin-left: .5em;
}
*+html #formPages{display:inline;}

#formPages select {
  margin-bottom: .2em;
  padding: 1px;
}

#formTranslateDomain {
  clear: both;
  overflow: hidden;
}
        .main fieldset fieldset {
          padding: .5em 5px .5em 1em ;
        }
        .main form>fieldset:nth-child(2n) {
          background-color: #dbe4ea;
        }

form .translations {
  display: inline-block;
  width: 28%;
  margin-left: 1em;
  padding: 7px;
  border-bottom: 0;
}
*+html form .translations{display:inline;}

        form .translations:first-child {
          border: 0;
        }

.main input[type=submit] {
  width: 14em;
  margin: .5em auto;
}

#formTranslateDomain input[type=submit] {
  float: left;
  width: auto;
}
        /*any second submits*/
        #formTranslateDomain input[type=submit]+input[type=submit] {
          float: right;
        }

#footer {
  clear: both;
  padding-top: .5em;
}

#footer li {
  display: inline-block;
  margin: 0 .2em;
  padding: .2em 0;
  font-size: .9em;
}

#footer li:before {
  display: inline-block;
  content: "|";
  margin-right: .5em;
  color: #666;
}
        #footer li:first-child:before {
          content: "\a0";
          color: #fff;
        }
        #footer ul+ul {
          border-top: 0;
        }
                #footer ul+ul li {
                  display: inline-block;  
                }
                *+html #footer ul+ul li {display: inline;}

        #footer li:last-child {
          text-align: left;
        }
		

/****************** pulse *****************/

iframe#pulse { position:absolute; visibility:hidden; left:0; top:0 }

/* comments */
.comment {
    float: left;
    margin: 10px 0px 5px 10px;
    border: 0;
}

.comment_reply {
    display: none;
    width: 28em;
}

.my_comment {
    width: 100%;
    margin: .5em auto;
}

.comment_children {
    margin: 7px 0px 7px 20px;
    border-left: 2px dotted #ddd;
    clear: left;
}


/*duckpan pod pages*/
.pod {
  text-align: left;
}

.pod ul a {
  text-decoration: none;
}

.pod pre {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding:2px;
  margin-left: 4px;
}
