/*
@font-face {
    font-family: 'varelaregular';
    src: url('../font/varela-regular.eot');
    src: url('../font/varela-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/varela-regular.woff') format('woff'),
         url('../font/varela-regular.ttf') format('truetype'),
         url('../font/varela-regular.svg#varelaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
    font-family: 'nevis';
    src: url('../font/nevis.eot');
    src: url('../font/nevis.eot?#iefix') format('embedded-opentype'),
         url('../font/nevis.woff') format('woff'),
         url('../font/nevis.ttf') format('truetype'),
         url('../font/nevis.svg#nevis') format('svg');
    font-weight: normal;
    font-style: normal;
}