/* 
	Homepage
*/
.callout { width: 102%; margin: 45px auto 0 -1%; overflow: hidden; }
	.callout-box { 
		margin: 0 6px;
		color: #484848;
		background: #f7f7f7;
		margin-bottom: 20px;
		position: relative;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-webkit-background-clip: padding-box; 
		background-clip: padding-box;			
	}
		.callout-box .head [class*='icon'] { font-size: 4.3em; }
			.lt-ie9 .callout-box .head i:before { font-size: 8em; line-height: 0.7; }
		.callout-box h2, .callout-box h3 { text-align: center; margin: 0; font-weight: normal; }
		.callout-box h2, .callout-box .head { text-shadow: 2px 2px 1px rgba(0,0,0,0.1); }
		.callout-box h2 { 
			font-size: 24px; 
			padding: 18px 0;				
		}
		.callout-box h3 { font-size: 17px; line-height: 1.2; padding: 20px 0 25px; }
		.callout-box ul, ul.checks { 				
			list-style: none; 			
			padding-right: 6px; 
			line-height: 1.42;
		}
		.callout-box ul {
			margin-bottom: 28px; 
		}
		.callout-box li, .callout-box .cta { color: #1b1e2d; }
			.callout-box li, .checks li { 
				padding-left: 25px;
				list-style: none; 
				margin-bottom: 10px; 
				background: url('../img/bullet-check.png') 3px 3px no-repeat;
			}
			.callout-box .cta { padding-left: 28px; display: block; height: 20px; position: relative; }
				.callout-box .cta i[class*='icon'] { 
					text-shadow: 0 0 1px rgba(0,0,0,0.5);
					position: absolute; 
					left: 3px;
					top: 2px;
					font-size: 1.3em;
				}
			
	.callout-box .body {
		border: 1px solid #d2d2d2;
		border-top: none;
		-webkit-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px;
		padding: 0 10px 18px;
	}		
	.callout-box .head { 
		display: block;
		color: white;
		padding-top: 26px; 			
		text-align: center;
		-webkit-border-radius: 5px 5px 0 0;
		border-radius: 5px 5px 0 0;
		-webkit-background-clip: padding-box; 
		background-clip: padding-box;
	}			
		.callout-box.yellow .cta i[class*='icon'] { color: #f4c446; }
		.callout-box.yellow .head { 
			background: #f4c446;			
			background: -moz-radial-gradient(center, ellipse cover,  #f4c446 0%, #f5b52f 100%);
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f4c446), color-stop(100%,#f5b52f));
			background: -webkit-radial-gradient(center, ellipse cover,  #f4c446 0%,#f5b52f 100%);
			background: -o-radial-gradient(center, ellipse cover,  #f4c446 0%,#f5b52f 100%);
			background: -ms-radial-gradient(center, ellipse cover,  #f4c446 0%,#f5b52f 100%);
			background: radial-gradient(ellipse at center,  #f4c446 0%,#f5b52f 100%);			
		}
			.lt-ie10 .callout-box.yellow .head {
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmNGM0NDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjViNTJmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			}
			.lt-ie9 .callout-box.yellow .head {
				background: #f4c446; 
			}
		.callout-box.blue .cta i[class*='icon'] { color: #3f86fc; }
		.callout-box.blue .head { 
			background: #3f86fc;			
			background: -moz-radial-gradient(center, ellipse cover,  #3f86fc 0%, #2d65ff 100%);
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3f86fc), color-stop(100%,#2d65ff));
			background: -webkit-radial-gradient(center, ellipse cover,  #3f86fc 0%,#2d65ff 100%);
			background: -o-radial-gradient(center, ellipse cover,  #3f86fc 0%,#2d65ff 100%);
			background: -ms-radial-gradient(center, ellipse cover,  #3f86fc 0%,#2d65ff 100%);
			background: radial-gradient(ellipse at center,  #3f86fc 0%,#2d65ff 100%);			
		}
			.lt-ie10 .callout-box.blue .head { 
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzZjg2ZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmQ2NWZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			}
			.lt-ie9 .callout-box.blue .head { 
				background: #3f86fc;
			}
		.callout-box.green .cta i[class*='icon'] { color: #64bb36; }
		.callout-box.green .head { 
			background: #64bb36;			
			background: -moz-radial-gradient(center, ellipse cover,  #64bb36 0%, #49aa25 100%);
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#64bb36), color-stop(100%,#49aa25));
			background: -webkit-radial-gradient(center, ellipse cover,  #64bb36 0%,#49aa25 100%);
			background: -o-radial-gradient(center, ellipse cover,  #64bb36 0%,#49aa25 100%);
			background: -ms-radial-gradient(center, ellipse cover,  #64bb36 0%,#49aa25 100%);
			background: radial-gradient(ellipse at center,  #64bb36 0%,#49aa25 100%);			
		}
			.lt-ie10 .callout-box.green .head{ 
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM2NGJiMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDlhYTI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			}
			.lt-ie9 .callout-box.green .head{
				background: #64bb36;
			}
		