/* experimental and/or prototype */

.iadata td {
    padding-right:0.5em;
}
.iadata li {
    list-style:none;
}
.ia-single h3 {
    margin-top: 1em;
}
.ia_topic {
    border-radius: 2em;
    background-color:#e0e0e0;
    padding-left:1em;
    padding-right:1em;
}
.ia_topic a {
    color:black;
}
.ia_src_column {
    max-width:18em;
    overflow:hidden;
} 
.ia-single .desktop {
	width: 99.75%;
}
.ia-single .clearfix {
	clear: both;
}
.ia-single .screens {
	margin-top: 2em;
	margin-bottom: 2em;
}
.ia-single .button a {
	color: #474747;
}
.ia-single .hide {
	display: none;
}
.ia-single #input_example {
    min-width: 3em;
    width: auto;
    margin-left: 0.5em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #888;
}
.ia-single #add_example,
.ia-single #input_example,
.ia-single #examples {
    float: left;
}
.ia-single #add_example {
    padding: 0 6px;
    margin-left: 0.5em;
}
#ia_index td {
    padding-left:4px;
}
