ul { list-style: none; }

#userpage-wrap { padding: 0 5 em; }

#userpage-keywords-title {
    margin-bottom: 0.8em;
    font-size: 1.1em;
    color: #aaa;
}

.userpage-wrap__child {
    min-height: 30em;
    padding: 2em;
}
