/* 
 *  _litestrap 
 *
 * Utility Classes to control site width, columns, floats, clears, and fixes
 *
 */

/* ok these aren't classes but they're good */
 
a { text-decoration: none; }
img { max-width: 100%; }

/* here are the classes... */
.site-wrapper { width: 100%; overflow: hidden; }
.content-wrap { max-width: 960px; margin: 0 auto; position: relative; }

.text-center, .text-mid { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.pull-left { float: left; }
.pull-right { float: right; }
.pull-none { float: none; }

/* .r- rules */
.r-block { display: block; }
.r-inline { display: inline; }
.r-inline-block, .r-iblock { display: inline-block; }
.r-border-box { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.r-content-box, .r-grid-pad {
    /* for when you *intentionally* want to break the grid with padding */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}

.clear { clear: both; }
.hide { display: none; }
.allcaps { text-transform: uppercase; }

/* grid sizes */
.whole, .half, .third, .twothird, .twothirds, .quarter, .threequarter, .threequarters, .sixth, .eighth, .ninety, .eighty, .seventy, .sixty, .fifty, .forty, .thirty, .twenty, .ten { 
    float: left; 
    display: block;
    position: relative; 
    /* Just in case someone tries to get cute and add padding to grid elements... */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.whole         { width: 100%; }
.half, .fifty 
                     { width: 50%; }
.third         { width: 33.3%; }
.twothird, .twothirds     
                     { width: 66.6%; }
.quarter     { width: 25%; }
.threequarter, .threequarters 
                     { width: 75%; }
.sixth         { width: 16.6%; }
.eighth       { width: 12.5%; }

.ninety       { width: 90%; }
.eighty       { width: 80%; }
.seventy     { width: 70%; }
.sixty         { width: 60%; }
.forty         { width: 40%; }
.thirty       { width: 30%; }
.twenty       { width: 20%; }
.ten             { width: 10%; }

/* after grids so that you can apply it and it should kill the float */
.block-mid { margin-left: auto; margin-right: auto; display: block; float: none; }

/* basic clearfix - comes in many flavours! */
.clearfix:after, .fix:after, .group:after, .row:after, .gw:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 600px) {    
    /* automatically mobile-ready!  leave this stuff out if you want */
	html { min-width: auto; }
    body, .content-wrap {
        min-width: 320px;
        width: 100%;
    }
	
	/* mobile-only trigger classes */
	.palm-hide { display: none; }
    .palm-clear { clear: both; }
    .palm-killfloat, .palm-pull-none { float: none; }    
    
	/* death to floating columns on mobile! */
    .whole, .half, .third, .twothird, .twothirds, .quarter, .threequarter, .threequarters, .sixth, .eighth, .ninety, .eighty, .seventy, .sixty, .fifty, .forty, .thirty, .twenty, .ten  { width: 100%; float: none; clear: both; margin: 0 auto;}    
        /* just in-case silly people apply the grids to images and it breaks things... */
		img.half, img.third, img.twothird, img.quarter, img.threequarter, img.sixth { width: auto; }
        .half.palm-half { width: 50%; float: left; clear: none; }
        .half .half { width: 100%; }
}
