/*DDG Community Platform: all devices not print*/

ul, ol, li, dl, dt, dd, p, form, fieldset, legend {
  margin: 0;
  padding: 0; /*protect form controls*/
}

fieldset, img {
  border: 0;
}
img {
  vertical-align: middle;
}

input, textarea {
  font-size: 1em; /*browsers all screw with these*/
}

ul {
  list-style: none;
}

/*accessible title, but remove where added titles are retarded/redundant*/
a[title]:focus:after { 
  content: " " attr(title);
}
a[title]:hover:focus:after { 
  content: "";
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/*offscreen accessible elements*/
.ac {
  position: absolute;
  left: -999em;
}
/*display none Javascripted elements*/
.hidden {
  display: none;
}
/*end reset*/

html {
  background-color: #262626; /*footer colour to bleed through tall pages*/
}

body {
  margin: 0;
  padding: 2px 5px;
  color: #222;
  font: 100%/120% "Segoe UI", "lucida grande", arial, sans-serif;
  background-color: #fafafa;
}

#access {
  width: 12em;  /*haslayout*/
  margin: 20px auto 2em;
}
        #access a {
          display: block;
          width: 9.5em;
          padding: 1em;
          text-decoration: none;
          text-align: center;
          background-color: #fff;
          border: 2px solid #277bbc;
        }
        #access a:focus, #access a:hover {
          text-decoration: underline;
        }

.header {
  background: url(../images/headerbg.grey.png) 0 100% repeat-x;
  border-bottom: 1px solid #d9d9d9;

  -webkit-box-shadow: 0 3px 5px -3px rgba(51,51,51,0.2);
  -o-box-shadow: 0 3px 5px -3px rgba(51,51,51,0.2);
  box-shadow: 0 3px 5px -3px rgba(51,51,51,0.2);
  color: #fff;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.15);
} 

.header a {
  color: #fff;
}

.header #logo {
  
}

/*iframe*/
#hf {
  margin-bottom: 1em;
}

#hf input[type=text] {
  width: 70%;
  height: 28px;
  padding: 2px 10px 2px 5px;
  border: 1px solid #c00;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

#hfb {
  width: 32px;
  height: 32px;
  margin-left: -10px;
  vertical-align: bottom;
  background: url(../images/sbutton.v102.green.png) 0 0 no-repeat;
  border: 1px solid #1eb54e;
  border-radius: 4px;
  -moz-border-radius: 4px;
}
        #hfb:active {
          background-position: 0 -32px;
        }

#logreg form div {
  margin-bottom: .5em;
}

#logreg label {
  display: block;
  font-size: .9em;
}

/*:not() selector IE9+ */
#logreg input:not([type=submit]) {
  width: 10em;
  margin-bottom: .5em;
  padding: .5em .2em;
  background-color: #fff;
  border: 1px solid #00a94e;
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4);
  border-radius: 3px;
  -moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4);
  -moz-border-radius: 3px; /*temp*/
}
        #logreg input:not([type=submit]):hover {
         background-color: #f0f3f6; 
        }
        #logreg input:not([type=submit]):focus {
          background-color: #fff;
        }

/*forgot password?*/
#logreg input+a {
  margin-left: 2em;
  padding: .5em .2em;
  font-size: .9em;
  white-space: nowrap; /*keep words together, check small screens/large text*/
}

#logreg input[type=submit] {
  display: inline-block;
  width: 10.5em;
  padding: .5em .4em;
}

#logreg form+p {
  margin: 2em 0 0;
  text-align: left;
}

#logreg form+p a {
  width: 10em;
  margin: .5em 0;
  padding: .5em .2em;
  color: #222;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px; /*temp*/
}

/*logged in*/
#logreg>ul {
  margin-bottom: 1em;
}

        #logreg a.profile {
          display: block;
          margin-bottom: 0;
          padding-bottom: 10px;
          color: #222;
          font-weight: bold;
          text-decoration: none;
          border-bottom: 1px solid #277bbc;
        }

        #logreg li li {
          display: inline;
        }
        #logreg ul ul a {
          display: block;
          padding: 1.5em;
          color: #222;
          background-color: #dbe4ea;
          border-bottom: 1px solid #277bbc;
        }
                #logreg ul ul a:before {
                  content: "\00bb\0a";
                }
                #logreg ul ul a:focus, #logreg ul ul a:hover {
                  color: #277bbc;
                  background-color: #f0f3f6;
                }

.main {
  padding-top: 3em;
  text-align: center;
}

a {
  color: #277bbc;
}
        a:visited {
        }
        a:focus, a:hover {
          text-decoration: none;
        }

h1, h2, h3, h4, h5, h6 {
  line-height: 120%;
}

h1 {
  margin-top: 0;
  text-align: center;
}

.text h3 {
  margin: 1em 0 .2em;
} 

p {
  margin-bottom: .6em;
}

.text p {
  line-height: 1.6em;
}

.text ul {
  margin-bottom: 1em;
}

.actions {
  margin-top: .5em;
}

.actions li {
  width: 90%;
  margin: 0 auto 2em;
  padding: .5em;
  background-color: #EEE;
  border: 1px solid #DDD;
  -moz-border-radius: 5px; /*temp*/
}
.getstarted li {
  background-color: #23b64f;
}
.getstarted li:first-child {
  background-color: #c00;
}
/*IE7 does not support nth-child*/
/*this WILL break if more than 3 items exist on main page*/
.getstarted li:first-child+li+li {
  background-color: #0f78be;
}
  
        .getstarted a {
          display: block;
          min-height: 4em;
          color: #fff;
          font-weight: bold;
          font-size: 2em;
          line-height: 1.2em;
          text-decoration: none;
          text-shadow: 0 2px 2px rgba(51,51,51,0.3);
        }
                .getstarted a:focus, .getstarted a:hover {
                  text-decoration: underline;
                }

.infobox {
  width: 50%;
  margin: 1em auto;
  padding: 1em 1em 1em 50px;
  text-align: left;
  background: url(../images/important.png) 10px 50% no-repeat;
  border: 2px dashed #0d72ba;
  border-radius: 5px;
  -moz-border-radius: 5px;/*temp*/
}

ul.bullets {
  padding-left: 22px;
}
        ul.bullets li {
          display: list-item;
          list-style-type: circle;
        }

dl {
  margin: .2em auto 1em;
  padding: 7px 7px 0;
  background-color: #fff; /*long domains may extend beyond body*/
  border: solid #ccc;
  border-width: 1px 0;
}
        dt, dd {
          text-align: left;
        }

        dd {
          margin-bottom: 1em;
        }


table {
  width: 100%;
  margin: 1em 0;
  border-collapse: collapse;
  border: 1px solid #277bbc;
}

/*thead, zebra striping*/
thead th, tr:nth-child(2n) td {
  background-color: #dbe4ea;
}

th, td {
  padding: 5px;
  border: 1px solid #277bbc;
}

th {
  font-weight: bold;
}

/*buttons*/
.button {
  text-align: center;
}
        .button a {
          display: inline-block;
          padding: .5em 2em;	
          color: #222;
          text-decoration: none;
          background-color: #ccc;
          border: 1px solid #666;
          border-radius: 5px;
        }
                .button a:focus, .button a:hover {
                  background-color: #eee;
                }
                .button a:active {
                  position: relative;
                  top: 1px;
                }
/*mainpage*/
.aboutddg {
  display: inline-block;
  width: 96%;
  margin: 1em .2em 1em;
  padding: 7px;
  text-align: left;
  vertical-align: top;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px; /*temp*/
}
        .aboutddg h2 {
          margin: .6em 0 .2em;
        }
        .aboutddg ul li {
          margin-bottom: .4em;
        }

/*myaccount*/
.account div {
  margin-bottom: 2em;
}

dl.myAccount {
  width: 13em;
}
        .myAccount dd {
          font-weight: bold;
        }
                /*no idea why this must be italic*/
                .myAccount dd.italic {
                  font-weight: normal;
                  font-style: italic;
                } 
/*edit my languages*/
.tableMyLanguages td[scope] {
  text-align: left;
}

.langGrades dt {
  color: #000;
}

.langGrades dt span {
  margin: 0 .3em;
  color: #000;
  font-weight: bold;
  font-size: 1.1em;
}

.langGrades dd {
  margin-left: 1.5em;
  margin-right: .5em;
}


/*admin interface*/
ul.admin {
  margin: 1em 0;
  border-top: 1px solid #277bbc;
}
        .admin li {
          display: inline;
        }

        .admin a {
          display: block;
          padding: 1.5em;
          color: #222;
          background-color: #dbe4ea;
          border-bottom: 1px solid #277bbc;
        }
                .admin a:focus, .admin a:hover {
                  color: #277bbc;
                  background-color: #f0f3f6;
                }

/*admin:users page*/
/*assumes 4 columns*/
.tableUsers th {
  width: 25%;
}

.tableUsers td:nth-child(2) {
  text-align: left;
}

.tableUsers td[scope] {
  font-weight: bold;
}

/*translate snippets etc*/
#languageBox {
  margin-bottom: 1em;
  border-top: 1px solid #277bbc;
}

#languageBox>li {
  font-weight: bold;
  font-size: 1.2em;
}

        #languageBox a {
          text-align: right;
        }

        #languageBox>li a[href="#void"] {
          display: inline-block;
          margin-left: .3em;
          padding: .5em;
          color: #222;
          font-weight: normal;
          font-size: .9em;
          text-decoration: none;
        }

#languageBox ul {
  margin-top: 1em;
  border-top: 1px solid #277bbc;
}

#languageBox ul li {
  font-weight: normal;
  font-size: 1em;
}

#languageBox ul a {
  display: block;
  padding: 1.5em;
  background-color: #dbe4ea;
  border-bottom: 1px solid #277bbc;
}
        #languageBox ul a:focus, #languageBox ul a:hover {
          color: #277bbc;
          background-color: #f0f3f6;
        }

/*errors*/
.error {
  color: #c00;
  font-size: 1.1em;
}

.warn {
  background-color: red;
  border-radius: 4px; 
  box-shadow: 0 1px 3px 0;
  color: white;
  padding: 4px;
  width: 20em;
  font-size: 1em;
  display: none;
}


.main form {
  padding: 7px;
  text-align: left;
}

#formPages {
  margin: 1em 5px;
  padding: .5em 0;
  text-align: center;/**/
  border: solid #277bbc;
  border-width: 1px 0;
}

        .main form>fieldset {
          margin: .5em 0 1em;
          padding: 5px;
          background-color: #dbe4ea;
          border: 1px solid #277bbc;
        }
        .main #formPages>fieldset {
          margin: 0;
          background-color: transparent;
          border: 0;
        }
        .main form>fieldset:nth-child(2n) {
          background-color: #f0f3f6;
        }

/*terms to translate; context, singular, plural...*/
/*results, what people translated*/
#formTranslateDomain dl {
  margin-bottom: 1em;
}
        #formTranslateDomain dt, 
        #formTranslateDomain dd {
          display: inline-block;
          margin-bottom: .5em;
          vertical-align: top;
        } 
        *+html #formTranslateDomain dt,
        *+html #formTranslateDomain dd {display:inline;}
   
        #formTranslateDomain dt {
          width: 25%;
          min-width: 6em;
          margin-right: 7px;
          font-weight: bold;
          font-size: 1.2em;
        }
        #formTranslateDomain .translations dt {
          min-width: 8em;
        }
        #formTranslateDomain dd {
          width: 60%;
        }
                #formTranslateDomain dd span {
                  padding: 5px;
                  color: #000; 
                  background-color: #fff;/*highlight term*/
                }

/*translations by users shown*/
form .translations {
  margin: 0 auto 2em;
  border-bottom: 1px solid #888;
}
 
form .translations h2 {
  margin: 0 0 .2em;
  font-size: 1.1em;
}

#formTranslateDomain .translations dt {
  margin-bottom: .2em;
  font-size: 1em;
}

/*inner fieldsets == translation in use labels/inputs,
or in admin, settings*/
.main fieldset fieldset {
  margin-bottom: 2em;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #277bbc;
}
        /*all legends not hidden by .ac class*/
        .main legend span {
          margin-left: 7px;
          font-weight: bold;
          color: #222; /*IE*/
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
        }
          
.main label {
  display: block;
  margin-top: .6em;
}

#formPages label {
  margin: .2em .2em 0;
}

#formTranslateDomain label[for$="show"] {
  display: inline-block;
  margin-bottom: .6em;
}

.main form img {
  margin: 0 .2em;
}

form img[alt="Captcha"] {
  display: block;
  margin-bottom: .6em;
}

/*admin languages form */
form .flagSelect label {
  display: inline-block;
  margin-right: .6em;
}

.main select {
  margin-bottom: .6em;
}

#formPages select {
  margin-bottom: 1.5em;
  padding: .2em;
}

.main input:not([type=radio]):not([type=checkbox]):not([type=submit]), 
.main textarea {
  width: 90%;
  margin-bottom: .6em;
  padding: .5em .2em;
  background-color: #f0f3f6; 
  border: 1px solid #277bbc;
  border-radius: 5px;
  -moz-border-radius: 5px; /*temp*/
}
#formEmail input[disabled] {
  background-color: #eee;
  border-color: #888;
}
  

.main textarea {
  font-size: 1.1em;
  color: #000;
}

        .main input:not([type=radio]):not([type=checkbox]):not([disabled]):not([type=submit]):hover, 
        .main textarea:hover,
        .main input:not([type=radio]):not([type=checkbox]):not([disabled]):not([type=submit]):focus, 
       .main textarea:focus {
          background-color: #fff; 
         -webkit-box-shadow: 0 0 5px rgba(39,123,188,0.5), 0 0 5px rgba(39,123,188,0.5);
         -moz-box-shadow: 0 0 5px rgba(39,123,188,0.5), 0 0 5px rgba(39,123,188,0.5);/*temp*/
         box-shadow: 0 0 5px rgba(39,123,188,0.5), 0 0 5px rgba(39,123,188,0.5);
        }

.main input[type=submit] {
  display: block;/*save and next page much too long text*/
  width: 90%;
  margin: .2em auto;
}

/*admin interface/language/flag list*/
.flags {
  width: 90%;
  margin: 0 auto 1em;
}

.flags li {
  display: inline-block;
  padding: .2em;
}
*+html .flags li{display:inline;}

#footer {
  min-height: 2em;
  margin-top: 1em;
  color: #fff;
  background-color: #262626;/*same as HTML element*/
}
        #footer ul {
          text-align: center;
        }
        #footer li {
          display: inline-block;
          padding: .5em 1em;
          text-align: left;
        }  
        *+html #footer li {display: inline;}

        #footer ul+ul {
          border-top: 1px solid #4c4c4c;
        }
                #footer ul+ul li {
                  display: block;  
                }
                #footer ul+ul li:last-child {
                  text-align: center;
                }
      #footer a {
        color: #80c1d6;
      }
