/*
	Pager Override
	
	A really nasty, hacky solution to having too many paging buttons.
	
	Basically the only thing this does is prevents the overall view 
	from breaking - it doesn't really solve the root issue. (Showing too many pages).
*/
.pager-wrap,
.pager-wrap .button-group--paging {	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%; 
}

.pager-wrap {
	position: relative;	
	overflow: hidden;	
	padding-left: 31px;
	padding-right: 31px;
	display: inline-block;
}

.pager-wrap .button-group--paging {
	position: static;
	overflow: auto;
}
	.pager-wrap .button-group--paging .button:first-child,
	.pager-wrap .button-group--paging .button:last-child {
		position: absolute;
		top: 0;		
	}
	.pager-wrap .button-group--paging .button:first-child { 
		z-index:10;
		left: 0; 
	}
	.pager-wrap .button-group--paging .button:last-child { right: 0; }