/*
	'Privacy Mode' Styles
	
	Mostly for private links/images
*/

/* Privacy Links */
.p-link {
	display: inline-block;
	word-wrap: break-word;
	vertical-align: middle;
	padding: 0px 2px 3px 1px;
	background-color: #f2f2f2;
	max-width: 100%;
}
	.p-link--img {
		display: block;
	}

.p-link__icn {
	position: relative;
	display: inline-block;
	padding-right: 4px;
	padding-left: 4px;
	font-size: 0.9em;
	color: #aaa;
	top: 2px;
}
	.p-link--img .p-link__icn {
		padding-left: 2px;
		font-size: 1.25em;
		line-height: 0;
		top: 4px;
	}
	
.p-link__url,
.p-link__txt,
.p-link__alt,
.p-link__img  {
	display: inline-block;
	word-wrap: break-word;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 0.8em;
	padding-top: 1px;
	padding-bottom: 1px;
}
.p-link__url {
	max-width: 95%;
	
	color: #878376;
	
	font-style: italic;
	
	background-color: #fafafa;
}
.p-link__txt {
	background-color: #fdfdfd;
	border-right: 1px solid #e3e3e3;
}
.p-link__alt {
	background-color: #fdfdfd;
	border-left: 1px solid #e3e3e3;
}
.p-link__img {	
	background-color: #fdfdfd;
	display: inline-block;
	text-align: center;
	//margin-top: 2px;	
}	
	.p-link__img img {
		display: block;
	}