/*--------------------------------------------------
'Wizard' Arrows
-------------------------------------------------- */
.wiz-arrow {
	position: relative;
	z-index: 10;
}
	.wiz-arrow:after {
		content: "";
		display: block;
		position: absolute;
		width: 51px;
		height: 77px;
		z-index: 10;
		/* top right by default */
		right: 0;
		top: -80px;	
		background: url('../img/arrow-top-r.png') 0 0 no-repeat;
	}
	.wiz-arrow-top-left:after {
		right: auto;
		left: 0;
		background-image: url('../img/arrow-top-l.png');
	}
	.wiz-arrow-bottom-right:after {
		top: auto;
		bottom: -80px;
		background-image: url('../img/arrow-bot-r.png');
	}
	.wiz-arrow-bottom-left:after {
		right: auto;
		top: auto;
		left: 0;
		bottom: -80px;
		background-image: url('../img/arrow-bot-l.png');
	}
	.wiz-arrow-vote:after {
		right: auto;
		top: auto;
		left: -50px;
		bottom: -43px;
		width: 65px;
		height: 40px;
		background-image: url('../img/arrow-vote.png');
	}
