/* 
 *  _litestrap fancy
 *
 * Fancy Styling (Because sometimes we're all a bit lazy and just need some default stuff)
 *
 */

.round {
    -moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
    border-radius: 0.25em;
} 
 
blockquote { padding: 0 0 0 28px; position: relative; }	
	blockquote p { color: #828487; position: relative; z-index: 1;}
	blockquote:before { 
		font-family:Georgia, serif; 
		content: "\201C"; 
		font-size:14em; 
		line-height: 1;
		margin-top:0; 		
		float:left; 
		color: #666; 
		opacity: 0.1; 
		position: absolute;
		top: -30px;
		left: 0;
		z-index: 0;
	}
		.lt-ie9 blockquote:before { color: #f2f2f2; } 
 
pre, tt, code { 
	font-family: Consolas, Menlo, Monaco, monospace;
    color: #fafafa;
	background: #333;
    -moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
    border-radius: 0.25em;
	background-clip: padding-box;
	-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5);
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 0 #000;
}
tt { padding: 0 3px 1px; }

pre {	
	margin: 0 0.5em 1em 0; 
	overflow: auto;	
	padding: 0;		    
	-moz-tab-size: 1;
	-o-tab-size: 1;
	tab-size: 1;
	-ms-word-break: normal;
	word-break: normal;
	word-break: normal;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	position: relative;
	display: table;
	width: 100%;
}

code { 
    padding: 1em;
    display: block;  
}
pre code {
	background: none; 
	background: none;
	white-space: pre;
	overflow: auto;
}