/* 
 *  _litestrap text
 *
 * Basic Text Sizes, Styles, and Declarations
 *
 */

/* element styling */ 
h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote { padding-top: 0.5em; padding-bottom: 0.5em; } 
 
/* .t- is for text, .h- is for header :) */
 
/* 
 * traditional scale with ems 
 */ 
h1, .h-xxl, 
.t-xxxxl, .t-triple     { font-size: 3em; }
h2, .h-xl, 
.t-xxxl, .t-double        { font-size: 2em; }
h3, .h-l, .t-xxl            { font-size: 1.75em; }
h4, .h-m, .t-xl              { font-size: 1.5em; }
h5, .h-s, .t-l                { font-size: 1.33em;}
h6, .h-xs, .t-m              { font-size: 1.1667em; }
small, .t-s                        { font-size: 0.9167em; }
.t-xs                                  { font-size: 0.8333em; }
.t-xxs                                { font-size: 0.75em; }
.t-xxxs                              { font-size: 0.66em; }
.t-xxxxs                            { font-size: 0.5833em; }
.t-xxxxxs, .t-half        { font-size: 0.5em; }

/* careful with this... */
.t-nat { font-size: 1rem; }

/* alignment */
.text-center, .text-mid,
.t-mid, .t-center { text-align: center; }
.t-left, .text-left { text-align: left; }
.t-right, .text-right { text-align: right; }

.t-bold { font-weight: bold; }
.t-normal { font-weight: normal; }

/* responsive text.  no changes by default, this is all up to you.  */
@media only screen and (min-width: 80em) { 
    .t-triple-l { font-size: 3em; }
    .t-double--l { font-size: 2em; }
    .t-xl--l { font-size: 1.5em; }
    .t-nat--l { font-size: 1rem; }
    .t-half--l { font-size: 0.5em; }
    
    .t-mid--l, .t-center--l { text-align: center; }
    .t-left--l{ text-align: left; }
    .t-right--l { text-align: right; }
}
@media only screen and (min-width: 100em) { 
    .t-triple--xl { font-size: 3em; }
    .t-double--xl { font-size: 2em; }
    .t-xl--xl { font-size: 1.5em; }
    .t-nat--xl { font-size: 1rem; }
    .t-half--xl { font-size: 0.5em; }
    
    .t-mid--xl, .t-center--xl { text-align: center; }
    .t-left--xl { text-align: left; }
    .t-right--xl { text-align: right; }
}
@media only screen and (max-width: 60em) { 
    .t-triple--m { font-size: 3em; }
    .t-double--m { font-size: 2em; }
    .t-xl--m { font-size: 1.5em; }
    .t-nat--m { font-size: 1rem; }
    .t-half--m { font-size: 0.5em; }
    
    .t-mid--m, .t-center--m { text-align: center; }
    .t-left--m { text-align: left; }
    .t-right--m { text-align: right; }
}

@media only screen and (max-width: 40em) {   
    .t-triple--s { font-size: 3em; }
    .t-double--s { font-size: 2em; }
    .t-xl--s { font-size: 1.5em; }
    .t-nat--s { font-size: 1rem; }
    .t-half--s { font-size: 0.5em; }
    
    .t-mid--s, .t-center--s { text-align: center; }
    .t-left--s { text-align: left; }
    .t-right--s { text-align: right; }
}

@media only screen and (max-width: 20em) { 
    .t-triple--xs { font-size: 3em; }
    .t-double--xs { font-size: 2em; }
    .t-xl--xs { font-size: 1.5em; }
    .t-nat--xs { font-size: 1rem; }
    .t-half--xs { font-size: 0.5em; }
    
    .t-mid--xs, .t-center--xs { text-align: center; }
    .t-left--xs { text-align: left; }
    .t-right--xs { text-align: right; }
}