<div id="topic" class="section_editable">
    {{#each topic}}
        <div class="button ia_topic">
            <a href="#" title="will be a link to all IAs in this topic" class="editable" name="topic">
                <input type="text" value="{{this}}" />
            </a>
        </div> 
    {{/each}}

    <div class="button end">OK</div>
</div>
