<div>
    <p id="desc" class="editable left" name="description">
        <input type="text" value="{{description}}" />
    </p>
    <div class="button cancel left" name="description">Cancel</div>
    <span class="clearfix"></span>
</div>
