<h2>{{name}}</h2>

<p>topics:
{{#each topic}}
        <span class="ia_topic">
		    <a href="#" title="will be a link to all IAs in this topic">
			    {{this}}
		    </a>
		</span> 
	{{/each}}
</p>

<p>Related IAs: ...</p>

