<div class="screens">
    <div class="img_container open"><strong>Desktop</strong> <div class="button arrow">&#x25BC;</div>
        <img class="desktop" style="border:1px solid black" src="https://images.duckduckgo.com/iu/?u=https://ia-screenshots.s3.amazonaws.com/{{id}}_desktop.png">
    </div>

    <div class="img_container"><strong>Mobile</strong> <div class="button arrow">&#x25B2;</div>
        <img class="mobile hide left" style="border:1px solid black" src="https://images.duckduckgo.com/iu/?u=https://ia-screenshots.s3.amazonaws.com/{{id}}_mobile.png">
    </div>

    <span class="clearfix"></span>
</div>
