/*
	DDGC
	
	A 'temp' file for styling that should be moved and organized to the correct
	community platform static files.
	
	https://github.com/duckduckgo/community-platform-static
*/

.userbadge {
	width: 13px;
	height: 13px;
	position: relative;
	top: 2px;
}
.userbadge--txt {
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	background-color: #f0624d;
	display: inline-block;
	font-size: 10px;
	max-width: 4em;
	width: auto;
	padding-left: 0.7em;
	padding-right: 0.7em;
	line-height: 1.5;
	height: 1.5em;
	color: #fff;
	top: -1px;
}

/* SC Editor Fixes */

.comment .sceditor-container,
.comment .sceditor-container iframe {
	width: 100% !important;
}
.comment .sceditor-container iframe {
	max-width: 99%;
	margin-left: 0;
	min-height: 70px;
}

.wrap-pipeline #campaign_info.notice {
    max-width: 92%;
}

.overview-wrap #campaign_info.notice, .issues-wrap #campaign_info.notice, .index-wrap #campaign_info.notice {
    max-width: 62.3%;
}

.page-account #campaign_info.notice {
    margin-bottom: 3em;
}

.notice--top #campaign_info.notice {
    margin-bottom: 0;
}

#campaign_info.notice {
    background: #eee;
    color: #333;
    border: none;
    border-radius: 3px;
    margin-top: 1.5em;
    margin-bottom: -1.5em;
    font-size: 15px;
    padding-top: 16px;
    padding-bottom: 16px;

    a {
	color: $blue-light;
    }

    .faux__body {
	padding-left: 1em;
	padding-right: 1em;
    }

    .ddgsi {
	float: right;
	color: #ccc;
	position: relative;
	top: -19px;
    }
}