@import "bower_components/compass-sass-mixins/lib/compass/css3/flexbox";
@import "bower_components/compass-sass-mixins/lib/compass/css3/transform";

#plDebug {
    display: none;
}

.site-header.mobile {
    .header-logo {
	margin-right: auto;
	float: none;
	text-align: center;

	&__logo {
	    width: initial;
	    height: initial;
	    float: none;
	    padding: initial;
	    padding-top: 13px;
	}
    }

    .ddgsi-comment.notification {
	float: none;
	font-size: 1.5em;
	padding-left: 0px;
    }

    .notification-bubble {
	margin-right: auto;
    }

    .flex-container {
	@include display-flex;
	@include flex-direction(row);
	@include align-items(center);
	@include justify-content(center);
	padding: 0 20px 0 20px;
    }

    .nav-menu {
	padding-top: 13px;

	.ddgsi-menu {
	    font-size: 1.2em;
	    color: #a5a5a5;
	}
    }
}

.slideout {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    z-index: 3;
    width: 14em;
    height: 100%;
    box-shadow: -1px 0 1px rgba(0,0,0,0.2);
    background-color: rgba(242,242,242,0.975);
    transition: transform 0.3s ease-in-out 0s;
    @include transform(translate3d(14.25em, 0, 0));

    &.is-open {
	@include transform(translate3d(0, 0, 0));
    }
}

.nav-menu {
    &__list {
	padding-left: 1.5em;
	padding-top: 0;
	padding-bottom: 0;
	list-style: none;
    }

    &__heading {
	padding-top: 2.2em;
	padding-bottom: 1.6em;
	margin-bottom: -1.25em;
	color: $grey-dark;
	text-transform: uppercase;
	font-size: 0.75em;
    }

    &__item a {
	font-size: 0.9176em;
	color: $slate;
    }
}