DDGC-*
.build
po-files/*
*~
*.sw*
*.csv
local-lib
*.log
*.index
node_modules/*
.sass-cache
root/static/css/ia.css
root/static/js/ddgc.js
root/static/js/ia.js
src/templates/handlebars_tmp
build/*
bower_components/*
*.db
cpanfile.snapshot
local/
