<div class="dev_milestone-container milestone-panel container-back_end" id="back_end">
    <div class="dev_milestone-container__header container-back_end__header">
        <h3 class="dev_milestone-container__header__title left">
            Back-End
        </h3>
        <span class="clearfix"></span>
    </div>

    <div class="dev_milestone-container__body container-back_end__body">
    </div>
</div> 
