<a href="/">Home</a>
<span class="less-than">&gt;</span>
{{#eq dev_milestone 'live'}}
    <a href="/ia">Instant Answers</a>
{{else}}
    {{#eq dev_milestone 'deprecated'}}
        <a href="/ia/dev/deprecated">Deprecated IAs</a>
    {{else}}
        <a href="/ia/dev/pipeline">Dev Pipeline</a>
    {{/eq}}
{{/eq}}
<span class="less-than">&gt;</span>
{{name}}
