<div class="dev_milestone-container milestone-panel container-contributors" id="contributors">
    <div class="dev_milestone-container__header container-contributors__header">
        <h3 class="dev_milestone-container__header__title">
            Contributors
        </h3>
        <span class="clearfix"></span>
    </div>

    <div class="dev_milestone-container__body container-contributors__body">
    </div>
</div> 
