<div class="big-description">
  <h2>{{name}}</h2>
  {{#each topic}}
    <span class="btn--wire topic ia-single--topic">{{this}}</span>
  {{/each}}
  {{#if description}}
    <p>{{description}}</p>
  {{/if}}
</div>
