{{#if permissions.admin}}
        <div class="pipeline-actions">
            <span class="left"><span class="count-txt">0</span> <span> Selected </span></span>
            <span class="deselect-all right"> <i class="deselect ddgsi ddgsi-close"></i> </span>
            
            <span class="clearfix"></span>

            <div class="field-section">
                <div class="primary-label">Update </div>
                <div class="field-label"> Dev Milestone </div>
                <select class="pipeline-actions__select" id="select-milestone">
                    <option value="0">planning</option>
                    <option value="1">development</option>
                    <option value="2">testing</option>
                    <option value="3">complete</option>
                    <option value="4">ghosted</option>
                </select>
            </div>

            <div class="field-section">
                <div class="field-label"> Type </div>
                <select class="pipeline-actions__select" id="select-type">
                    <option value="0">fathead</option>
                    <option value="1">goodies</option>
                    <option value="2">longtail</option>
                    <option value="3">spice</option>
                </select>
            </div>
        </div>
{{/if}}
