{{#if permissions.admin}}
        <div class="pipeline-actions">
            <span class="left"><span class="count-txt">{{selected}}</span> <span> Selected </span></span>
            <span class="deselect-all right"> <i class="deselect ddgsi ddgsi-close"></i> </span>
            
            <span class="clearfix"></span>

            <div class="field-section">
                <div class="primary-label">Update </div>
                <div class="field-label"> Dev Milestone </div>
                <select class="pipeline-actions__select" id="select-dev_milestone">
                    <option value="0">planning</option>
                    <option value="1">development</option>
                    <option value="2">testing</option>
                    <option value="3">complete</option>
                    <option value="4">ghosted</option>
                </select>
            </div>

            <div class="field-section">
                <div class="field-label"> Type </div>
                <select class="pipeline-actions__select" id="select-repo">
                    <option value="0">fathead</option>
                    <option value="1">goodies</option>
                    <option value="2">longtail</option>
                    <option value="3">spice</option>
                </select>
            </div>

            <div class="field-section">
                <div class="field-label"> Dev Machine </div>
                <select class="pipeline-actions__select" id="select-test_machine">
                    <option value="0"></option>
                    <option value="1">ddh1</option>
                    <option value="2">ddh2</option>
                    <option value="3">ddh3</option>
                    <option value="4">ddh4</option>
                    <option value="5">ddh5</option>
                    <option value="6">ddh6</option>
                    <option value="7">ddh7</option>
                    <option value="8">ddh8</option>
                    <option value="9">ddh9</option>
                    <option value="10">ddh10</option>
                    <option value="11">beta</option>
                </select>
            </div>

            <div class="field-section">
                <div class="field-label"> Perl Module </div>
                <input class="pipeline-actions__input" id="input-perl_module" />
            </div>

            <div class="field-section">
                <div class="field-label"> Template </div>
                <input class="pipeline-actions__input" id="input-template" />
            </div>
        </div>
{{/if}}
