<div class="dev_milestone-container milestone-panel {{#if current.development}}current-container{{/if}} {{#if future.development}}future-container{{/if}} container-development" id="development">
    <div class="dev_milestone-container__header container-development__header">
        <h3 class="dev_milestone-container__header__title left">
            Development
        </h3>
        <div class="button js-expand dev_milestone-container__header__button left">
            <i class="js-expand__icon icon-caret-down" />
        </div>
        <span class="clearfix"></span>
    </div>

    <div class="dev_milestone-container__body container-development__body {{#unless current.development}}hide{{/unless}}">
    </div>
</div> 
