<div class="right">
    <div class="left tag editable status {{status}}" name="status"><input type="text" value="{{status}}" /></div>
    <div class="right cancel button" name="status">Cancel</div>
</div>
<span class="clearfix"></span>
