<div class="column-right-edits left" id="column-edits-api_status_page">
    <div class="column-right-edits__child js-editable" id="api_status_page" name="api_status_page">
        <input type="text" value="{{api_status_page}}" class="column-right-edits__child__input js-input" name="api_status_page"/>
    </div>
</div>
