<div class="column-right-edits left" id="column-edits-maintainer">
    <div class="column-right-edits__child js-editable" id="maintainer" name="maintainer">
        <input type="text" value="{{#if maintainer.github}}{{maintainer.github}}{{/if}}" class="column-right-edits__child__input js-input" name="maintainer"/>
    </div>
</div>

