<div class="column-right-edits left" id="column-edits-unsafe">
    <div class="column-right-edits__child js-editable" id="unsafe" name="unsafe">
        <i class="icon-check{{#unless edited.unsafe}}-empty{{/unless}}" id="unsafe-check"/>
        Unsafe
    </div>
</div>
