<div class="column-right-edits left" id="column-edits-src_url">
    <div class="column-right-edits__child js-editable" id="src_url" name="src_url">
        <input type="text" value="{{src_url}}" class="column-right-edits__child__input js-input" name="src_url"/>
    </div>
</div>

