<div class="column-right-edits left" id="column-edits-topic">
    <div class="column-right-edits__child js-section-editable" id="topic" name="topic">
        <div class="separator ia_topic">
            <div class="button delete listbutton left" name="topic" title="Remove this topic">
                <i class="icon-remove" />
            </div>
            <select class="available_topics left" id="first-topic-select">
                <option value="0">{{index topic 0}}</option>
            </select>
            <span class="clearfix"></span>
        </div>
        <div class="separator ia_topic">
            <div class="button delete listbutton left" name="topic" title="Remove this topic">
                <i class="icon-remove" />
            </div>
            <select class="available_topics left" id="second-topic-select">
                <option value="1">{{index topic 1}}</option>
            </select>
            <span class="clearfix"></span>
        </div>
        <div class="separator ia_topic">
            <div class="button delete listbutton left" name="topic" title="Remove this topic">
                <i class="icon-remove" />
            </div>
            <select class="available_topics" id="third-topic-select">
                <option value="2">{{index topic 2}}</option>
            </select>
            <span class="clearfix"></span>
        </div>
        <span class="clearfix"></span>
    </div>
</div>
