<div class="column-right-edits left" id="column-edits-designer">
    <div class="column-right-edits__child js-editable" id="designer" name="designer">
        <input type="text" value="{{designer}}" class="column-right-edits__child__input js-input" name="designer"/>
    </div>
</div>

