<div class="column-right-edits left" id="column-edits-repo">
    <div class="column-right-edits__child js-editable" id="repo" repo="repo">
        <div class="ia_repo left">
            <span class="editable left" name="repo">
                <select class="available_repos" tabindex="-1">
                    <option value="0">{{repo}}</option>
                    {{#not_eq repo 'spice'}}<option value="1">spice</option>{{/not_eq}}
                    {{#not_eq repo 'goodies'}}<option value="2">goodies</option>{{/not_eq}}
                    {{#not_eq repo 'fathead'}}<option value="3">fathead</option>{{/not_eq}}
                    {{#not_eq repo 'longtail'}}<option value="4">longtail</option>{{/not_eq}}
                </select>
            </span>
        </div>
    </div>
</div>

