<div class="column-right-edits left" id="column-edits-developer">
    <div class="column-right-edits__child js-editable" id="developer" name="developer">
        <ul>
            {{#if developer}}
                {{#each developer}}
                    <li class="editpage left">
                        <div class="button delete listbutton left" name="developer" title="Remove this developer">
                            <i class="icon-remove" />
                        </div>
                        <span name="developer" class="{{#eq_or this.type 'duck.co' 'github'}}editable{{/eq_or}} developer left type-{{this.type}}">
                            <input type="text" value="{{this.name}}" />
                        </span>
                        <select class="available_types left" tabindex="-1">
                            {{#if this.type}}<option value="0">{{this.type}}</option>{{/if}}
                            <option value="1">duck.co</option>
                            <option value="2">github</option>
                        </select>
                    </li>
                    <span class="clearfix"></span>
                {{/each}}
            {{/if}}
            <li class="editpage hide left new_input">
                <div class="button delete listbutton left" name="developer" title="Remove this developer">
                    <i class="icon-remove" />
                </div>
                <span name="developer" class="editable developer left" id="input_developer">
                    <input type="text" value="" />
                </span>
                <select class="available_types left" tabindex="-1">
                    <option value="0">duck.co</option>
                    <option value="1">github</option>
                </select>
            </li>
            <li class="editpage left add_input" id="add_developer">
                <div class="button listbutton left" id="add_developer_button" title="Add example">
                    <i class="icon-plus" />
                </div>
            </li>
        </ul>
    </div>
</div>

