<div class="column-right-edits left" id="column-edits-topic">
    <div class="column-right-edits__child js-section-editable" id="topic" name="topic">
        {{#each topic}}
            <div class="ia_topic left">
                <div class="button delete listbutton left" name="topic" title="Remove this topic">
                    <i class="icon-remove" />
                </div>
                <span class="editable left" name="topic">
                    <select class="available_topics" tabindex="-1">
                        <option value="0">{{this}}</option>
                    </select>
                </span>
            </div>

            {{#if @first}}
                <div class="ia_topic left hide" id="add_topic_select">
                    <div class="button delete listbutton left" name="topic" title="Remove this topic">
                        <i class="icon-remove" />
                    </div>
                    <span class="editable left" name="topic">
                    <select class="available_topics right" id="new_topic" tabindex="-1">
                        <option value="0"></option>
                    </select>
                    </span>
                </div>
                <div class="button listbutton left" id="add_topic" title="Add topic">
                    <i class="icon-plus" />
                </div>
            {{/if}}
            <span class="clearfix"></span>
        {{/each}}
   </div>
</div>
