<div class="column-right-edits left" id="column-edits-example_query">
    <div class="column-right-edits__child js-section-editable" id="examples" name="examples">
        <input type="text" value="{{example_query}}" class="column-right-edits__child__input js-input" name="example_query" />
    </div>
</div>
