<div class="column-right-edits left" id="column-edits-description">
    <div class="column-right-edits__child js-editable" id="description" name="description">
      <textarea placeholder="Add description ...">{{description}}</textarea>
    </div>
</div>
