<div class="column-right-edits left" id="column-edits-blockgroup">
    <div class="column-right-edits__child js-editable" id="blockgroup" blockgroup="blockgroup">
        <div class="ia_blockgroup left">
            <span class="editable left" name="blockgroup">
                <select class="available_blockgroups" tabindex="-1">
                    <option value="0">{{blockgroup}}</option>
                </select>
            </span>
        </div>
    </div>
</div>

