<div class="column-right-edits left" id="column-edits-unsafe">
    <div class="column-right-edits__child js-check js-editable" id="unsafe" name="unsafe">
        <i class="js-editable icon-check{{#is_false unsafe}}-empty{{/is_false}}" id="unsafe-check"/>
        Unsafe
    </div>
</div>
