<div class="column-right-edits left" id="column-edits-dev_milestone">
    <div class="column-right-edits__child js-editable" id="dev_milestone" dev_milestone="dev_milestone">
        <div class="ia_dev_milestone left">
            <span class="editable left" name="dev_milestone">
                <select class="available_dev_milestones" tabindex="-1">
                    <option value="0">{{dev_milestone}}</option>
                    <option value="1">planning</option>
                    <option value="2">development</option>
                    <option value="3">testing</option>
                    <option value="4">complete</option>
                    <option value="5">live</option>
                    <option value="6">deprecated</option>
                    <option value="7">ghosted</option>
                </select>
            </span>
        </div>
    </div>
</div>

