<div class="column-right-edits left" id="column-edits-is_stackexchange">
    <div class="column-right-edits__child js-editable" id="is_stackexchange" name="is_stackexchange">
        <i class="js-editable icon-check{{#is_false is_stackexchange}}-empty{{/is_false}}" id="is_stackexchange-check"/>
        Is Stack Exchange
    </div>
</div>
