<div class="column-right-edits left" id="column-edits-developer">
    <div class="column-right-edits__child js-editable" id="developer" name="developer">
        <ul>
            {{#if developer}}
                {{#each developer}}
                    <li class="editpage left">
                        <div class="button delete listbutton left" name="developer" title="Remove this developer">
                            <i class="icon-remove" />
                        </div>
                        <span name="developer" class="editable other-examples left">
                            <label>Name:</label> <input type="text" value="{{name}}" />
                            <label>URL:</label> <input type="text" value="{{url}}" />
                        </span>
                    </li>
                    <span class="clearfix"></span>
                {{/each}}
            {{/if}}
            <li class="editpage hide left new_input" id="input_example">
                <div class="button delete listbutton left" name="developer" title="Remove this developer">
                    <i class="icon-remove" />
                </div>
                <span name="developer" class="editable developer left" id="input_developer">
                    <input type="text" value="" />
                </span>
            </li>
            <li class="editpage left add_input" id="add_developer">
                <div class="button listbutton left" id="add_developer_button" title="Add example">
                    <i class="icon-plus" />
                </div>
            </li>
        </ul>
    </div>
</div>

