<div class="ia-attribution ia-single--info">
  {{#if attribution}}
    <div class="ia-single--header">CONTRIBUTORS</div>
    <ul>
      {{#each attribution}}
        <li><a href="{{this.0.loc}}" class="one-line">{{@key}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
</div>
