<div class="ia-attribution ia-single--info">
  {{#if developer}}
    <div class="ia-single--header">CONTRIBUTORS</div>
    <ul>
      {{#each ../developer}}
        <li><a href="{{url}}" class="one-line">{{name}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
</div>
