<div class="dev_milestone-container {{#if current.in_development}}current-container{{/if}} container-in_development left" id="in_development">
    <div class="dev_milestone-container__header container-in_development__header">
        <h3 class="dev_milestone-container__header__title">
            In Development
        </h3>
    </div>

    <div class="dev_milestone-container__body container-in_development__body">
        <div class="dev_milestone-container__body__label ia-single--header">
            PULL REQUEST
        </div>
            <div class="dev_milestone-container__body__readonly" id="repo-txt">
                <a href="{{live.pr.url}}" class="dev_milestone-container__body__readonly__a" id="pr">
                    {{live.pr.title}}
                </a>
        </div>

        {{#if permissions.admin}}
            {{#if current.in_development}}
                <div class="dev_milestone-container__body__complete js-complete button" id="complete-in_development">
                    Mark as complete
                </div>
            {{/if}}
        {{/if}}
    </div>
</div>
