<div id="big-description">
    {{#if permissions.can_edit}}
        <textarea rows="2" cols="55" class="js-autocommit metafield" id="description-textarea">{{live.description}}</textarea>
    {{else}}
        {{#if live.description}}
            <p>{{live.description}}</p>
        {{/if}}
    {{/if}}
</div>
