{{#eq live.repo 'longtail'}}
<div class="row-diff" id="row-diff-is_stackexchange">
    <div class="column-left-labels left">
        <div class="column-left-labels__child">
            <p class="column-left-labels__child__p">
                Stack Exchange
            </p>
        </div>
    </div>
    <div class="column-center-live left">
	<div class="column-right-edits__child" id="unsafe">
            <i class="js-input" data-field="checkbox" data-name="is_stackexchange" id="is_stackexchange-check"/>
            Is Stack Exchange
        </div>
    </div>
</div>
{{/eq}}
