<div class="row-diff" id="row-diff-perl_dependencies">
    <div class="column-left-labels left">
        <div class="column-left-labels__child">
            <p class="column-left-labels__child__p">
                Perl Dependencies
            </p>
        </div>
    </div>
    <div class="column-center-live left">
        <div class="column-center-live__child">
            <ul class="column-center-live__child__ul">
		{{#if edited.perl_dependencies}}
                    {{#each edited.perl_dependencies}}
                        <li class="editpage">
                            <span title="try this example on DuckDuckGo" name="perl_dependencies" class="pre_edit perl_dependencies edited">
                                {{this}}
                            </span>
                        </li>
                    {{/each}}
                {{else}}
                    {{#each live.perl_dependencies}}
                        <li class="editpage">
                            <span name="perl_dependencies" class="pre_edit perl_dependencies">
                                {{this}}
                            </span>
                        </li>
                    {{/each}}
                {{/if}}
            </ul>
        </div>
    </div>
    <div class="button js-pre-editable" name="perl_dependencies">
        <i class="js-pre-editable__icon icon-edit"></i>
        <span class="js-pre-editable__text">Edit</span>
    </div>

    <div class="button hide js-editable" name="perl_dependencies">
        <i class="js-editable__icon icon-check"></i>
        <span class="js-editable__text">Done</span>
    </div>
</div>
