<div class="row-diff" id="row-diff-unsafe">
    <div class="column-left-labels left">
        <div class="column-left-labels__child">
            <p class="column-left-labels__child__p">
                Safe Search
            </p>
        </div>
    </div>
    <div class="column-center-live left">
	<div class="column-right-edits__child" id="unsafe">
            <i class="js-input" data-field="checkbox" data-name="unsafe" id="unsafe-check"/>
            Unsafe
    	</div>
    </div>
</div>
