<div class="row-diff" id="row-diff-dev_milestone">
    <div class="column-left-labels left">
        <div class="column-left-labels__child">
            <p class="column-left-labels__child__p">
                Dev Milestone
            </p>
        </div>
    </div>
    <div class="column-center-live left">
	<select class="js-input" data-field="select" data-name="dev_milestone">
	   <option value="1">planning</option>
           <option value="2">development</option>
           <option value="3">testing</option>
           <option value="4">complete</option>
           <option value="5">live</option>
           <option value="6">deprecated</option>
           <option value="7">ghosted</option>
	</select>
    </div>
</div>
