{{#eq_or live.repo 'fathead' 'longtail'}}
<div class="row-diff" id="row-diff-src_domain">
    <div class="column-left-labels left">
        <div class="column-left-labels__child">
            <p class="column-left-labels__child__p">
                Source Domain
            </p>
        </div>
    </div>
    <div class="column-center-live left">
        <div class="column-center-live__child">
            <p class="column-center-live__child__p">
                {{#if edited.src_domain}}
                    <span class="edited">{{edited.src_domain}}</span>
                {{else}}
                    {{live.src_domain}}
                {{/if}}
            </p>
        </div>
    </div>
    <div class="button js-pre-editable" name="src_domain">
        <i class="js-pre-editable__icon icon-edit"></i>
        <span class="js-pre-editable__text">Edit</span>
    </div>

    <div class="button hide js-editable" name="src_domain">
        <i class="js-editable__icon icon-check"></i>
        <span class="js-editable__text">Done</span>
    </div>
</div>
{{/eq_or}}
