<div class="row-diff" id="row-diff-other_queries">
    <div class="column-left-labels left">
        <div class="column-left-labels__child">
            <p class="column-left-labels__child__p">
                Other Queries
            </p>
        </div>
    </div>
    <div class="column-center-live left">
        <div class="column-center-live__child">
            <ul class="column-center-live__child__ul">
                {{#if edited.other_queries}}
		   {{#each edited.other_queries}}
                        <li class="editpage">
                            <span title="try this example on DuckDuckGo" name="other_queries" class="pre_edit other queries edited">
                                {{this}}
                            </span>
                        </li>
                    {{/each}}
                {{else}}
                    {{#each live.other_queries}}
                        <li class="editpage">
                            <span title="try this example on DuckDuckGo" name="other_queries" class="pre_edit other_queries">
                                {{this}}
                            </span>
                        </li>
                    {{/each}}
                {{/if}}
            </ul>
        </div>
    </div>
    <div class="button js-pre-editable" name="other_queries">
        <i class="js-pre-editable__icon icon-edit"></i>
        <span class="js-pre-editable__text">Edit</span>
    </div>

    <div class="button hide js-editable" name="other_queries">
        <i class="js-editable__icon icon-check"></i>
        <span class="js-editable__text">Done</span>
    </div>
</div>
