<div class="row-diff" id="row-diff-repo">
    <div class="column-left-labels left">
        <div class="column-left-labels__child">
            <p class="column-left-labels__child__p">
                Type
            </p>
        </div>
    </div>
    <div class="column-center-live left">
	<select class="js-input" data-field="select" data-name="repo">
            <option value="1">spice</option>
            <option value="2">goodies</option>
            <option value="3">fathead</option>
            <option value="4">longtail</option>
        </select>
    </div>
</div>
