{{#eq live.repo 'fathead'}}
<div class="row-diff" id="row-diff-src_name">
    <div class="column-left-labels left">
        <div class="column-left-labels__child">
            <p class="column-left-labels__child__p">
                Source Name
            </p>
        </div>
    </div>
    <div class="column-center-live left">
        <div class="column-center-live__child">
            <p class="column-center-live__child__p">
                {{#if edited.src_name}}
                    <span class="edited">{{edited.src_name}}</span>
                {{else}}
                    {{live.src_name}}
                {{/if}}
            </p>
        </div>
    </div>
    <div class="button js-pre-editable" name="src_name">
        <i class="js-pre-editable__icon icon-edit"></i>
        <span class="js-pre-editable__text">Edit</span>
    </div>

    <div class="button hide js-editable" name="src_name">
        <i class="js-editable__icon icon-check"></i>
        <span class="js-editable__text">Done</span>
    </div>
</div>
{{/eq}}
