<div class="row-diff" id="row-diff-example_query">
    <div class="column-left-labels left">
        <div class="column-left-labels__child">
            <p class="column-left-labels__child__p">
                Example Query
            </p>
        </div>
    </div>
    <div class="column-center-live left">
        <input type="text" class="column-right-edits__child__input js-input" data-field="text" data-name="example_query"/>
    </div>

</div>
