<div class="row-diff" id="row-diff-perl_module">
    <div class="column-left-labels left">
        <div class="column-left-labels__child">
            <p class="column-left-labels__child__p">
                Perl Module
            </p>
        </div>
    </div>
    <div class="column-center-live left">
        <div class="column-center-live__child">
            <p class="column-center-live__child__p">
                {{#if edited.perl_module}}
                    <span class"edited">{{edited.perl_module}}</span>
                {{else}}
                    {{live.perl_module}}
                {{/if}}
            </p>
        </div>
    </div>
    <div class="button js-pre-editable" name="perl_module">
        <i class="js-pre-editable__icon icon-edit"></i>
        <span class="js-pre-editable__text">Edit</span>
    </div>

    <div class="button hide js-editable" name="perl_module">
        <i class="js-editable__icon icon-check"></i>
        <span class="js-editable__text">Done</span>
    </div>
</div>
