<div class="row-diff" id="row-diff-name" data-field="name">
    <div>
       <input type="text" class="column-right-edits__child__input js-input js-input--heading" data-field="text" data-name="name"/>
    </div>
</div>
