<div class="row-diff" id="row-diff-description">
    <div class="column-left-labels left">
        <div class="column-left-labels__child">
            <p class="column-left-labels__child__p">
                Description
            </p>
        </div>
    </div>
    <div class="column-center-live left">
        <textarea class="column-right-edits__child__input js-input" data-field="text" data-name="description"/>
    </div>
</div>
