<div class="dev_milestone-container {{#if current.qa}}current-container{{/if}} {{#if future.qa}}future-container{{/if}} container-qa left" id="qa">
    <div class="dev_milestone-container__header container-qa__header">
        <h3 class="dev_milestone-container__header__title">
            QA
        </h3>
    </div>

    <div class="dev_milestone-container__body container-qa__body">
        <div class="dev_milestone-container__body__label ia-single--header">
            EXAMPLE QUERY
        </div>
        {{#unless future.qa}}
            {{#if permissions.can_edit}}
                <input type="text" class="dev_milestone-container__body__input js-autocommit" id="example_query-input" value="{{live.example_query}}" />
            {{else}}
                <a href="https://duckduckgo.com/?q={{encodeURIComponent live.example_query}}" class="dev_milestone-container__body__readonly" id="example_query-a">
                    {{live.example_query}}
                </a>
            {{/if}}
        {{/unless}}       
        
        {{#if permissions.admin}}
            {{#if current.qa}}
                <div class="dev_milestone-container__body__complete js-complete button" id="complete-qa">
                    Mark as complete
                </div>
            {{/if}}
        {{/if}}
    </div>
</div>
