<div class="dev_milestone-container container-qa" id="qa">
    <div class="dev_milestone-container__header container-qa__header">
        <h3 class="dev_milestone-container__header__title">
            QA
        </h3>
    </div>

    <div class="dev_milestone-container__body container-qa__body {{#unless current.qa}}hide{{/unless}}">
        {{#if permissions.admin}}
            {{#if current.qa}}
                <div class="dev_milestone-container__body__complete js-complete button" id="complete-qa">
                    Mark as complete
                </div>
            {{/if}}
        {{/if}}
    </div>
</div>
