<div class="dev_milestone-container container-ready left" id="ready">
    <div class="dev_milestone-container__header container-ready__header">
        <h3 class="dev_milestone-container__header__title">
            Ready
        </h3>
    </div>

    <div class="dev_milestone-container__body">
        {{#if permissions.admin}}
            {{#if current.ready}}
                <div class="dev_milestone-container__body__complete js-complete button" id="complete-ready">
                    Mark as complete
                </div>
            {{/if}}
        {{/if}}
    </div>
</div>
