<div class="dev_milestone-container milestone-panel {{#if current.ready}}current-container{{/if}} {{#if future.ready}}future-container{{/if}} container-ready" id="ready">
    <div class="dev_milestone-container__header container-ready__header">
        <h3 class="dev_milestone-container__header__title left">
            Ready
        </h3>
        <div class="button js-expand dev_milestone-container__header__button left">
            <i class="js-expand__icon icon-caret-down" />
        </div>
        <span class="clearfix"></span>
    </div>

    <div class="dev_milestone-container__body container-ready__body {{#unless current.ready}}hide{{/unless}}">
    </div>
</div>

