{{#with live}}
  <div class="ia-single--screenshots">
    <div class="screenshot--status hide">
        <div class="default-message">There are no screenshots generated for this output yet.</div>
        <img class="loader" style="display: none;" src="/static/img/ia/loader_f2f2f2.gif">
    </div>
    <img class="screenshot" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fia-screenshots.s3.amazonaws.com%2F{{id}}_index.png%3Flol={{random}}">
  </div>

  {{#if ../permissions.can_edit}}
    <span class="generate-screenshot pull-right btn btn--primary">
      <i class="icon-refresh"></i>
    </span>
  {{/if}}
{{/with}}
