{{#with live}}
{{#ne_and dev_milestone 'planning' 'development'}}
<div class="screens--wide">
  <div class="ia-single--screenshots">
    <div class="screenshot--status hide">
        <div class="default-message hide"></div>
        <div class="revert hide"><a href="#">Restore previous screenshot</a></div>
        <img class="loader" style="display: none;" src="/static/img/ia/loader_f2f2f2.gif">
    </div>

    <!-- Mobile image -->
    <div class="mobile-faux__container hide">
        <div class="mobile-faux__edge">
            <div class="mobile-faux__padding">
                <img class="screenshot-mobile" src="" style="display: inline-block;">
            </div>
        </div>
    </div>

    <!-- Desktop image -->
    <img class="screenshot-desktop hide" src="" style="display: block;">
  </div>

  {{#ne_and dev_milestone 'live' 'deprecated'}}
    {{#if ../../can_show}}
        <span class="generate-screenshot pull-right btn btn--primary hide">
          <i class="icon-refresh"></i>
        </span>
    {{/if}}
  {{else}}
      {{#if ../../permissions.can_edit}}
        <span class="generate-screenshot pull-right btn btn--primary hide">
          <i class="icon-refresh"></i>
        </span>
      {{/if}}
  {{/ne_and}}
</div>
{{/ne_and}}
{{/with}}
