{{#with live}}
<div class="{{#eq_or dev_milestone 'live' 'deprecated'}}screens--wide{{else}}twothirds{{/eq_or}}">
  <div class="ia-single--screenshots">
    <div class="screenshot--status hide">
        <div class="default-message hide"></div>
        <div class="revert hide"><a href="#">Restore previous screenshot</a></div>
        <img class="loader" style="display: none;" src="/static/img/ia/loader_f2f2f2.gif">
    </div>
    <img class="screenshot hide" src="" style="display: block;">
  </div>

  {{#ne_and dev_milestone 'live' 'deprecated'}}
    {{#if can_show}}
        <span class="generate-screenshot pull-right btn btn--primary hide">
          <i class="icon-refresh"></i>
        </span>
    {{/if}}
  {{/ne_and}}

  {{#eq_or dev_milestone 'live' 'deprecated'}}
      {{#if ../permissions.can_edit}}
        <span class="generate-screenshot pull-right btn btn--primary hide">
          <i class="icon-refresh"></i>
        </span>
      {{/if}}
  {{/eq_or}}
</div>
{{/with}}
