{{#with live}}
  <div class="ia-single--screenshots">
    <img src="https://images.duckduckgo.com/iu/?u={{encodeURIComponent 'https://ia-screenshots.s3.amazonaws.com/'}}{{id}}_index.png&f=1">
  </div>
  
  {{#if ../permissions.can_edit}}
    <span class="generate-screenshot pull-right">
      <i class="btn btn--primary icon-refresh"></i>
    </span>
  {{/if}}
{{/with}}
