{{#with live}}
  <div class="ia-single--screenshots">
    <div class="screenshot--status hide">
        <div class="default-message hide"></div>
        <img class="loader" style="display: none;" src="/static/img/ia/loader_f2f2f2.gif">
    </div>
    <img class="screenshot hide" src="">
  </div>

  {{#if ../permissions.can_edit}}
    <span class="generate-screenshot pull-right btn btn--primary hide">
      <i class="icon-refresh"></i>
    </span>
  {{/if}}
{{/with}}
