{{#if template}}
    <p>
        <strong>Template:</strong> 
        <a href="/ia/template/{{encodeURIComponent template}}" title="See all IAs with the same template">
            {{template}}
        </a>
    </p>
{{/if}}
