{{#ne_and dev_milestone 'live' 'deprecated'}}
    {{#ne_and dev_milestone 'planning' 'development'}}
        <div class="left third frm">
            <div class="ia-single--header">
                Browser Testing
            </div>
            <label class="frm__label">
                <input class="frm__label__chk" type="checkbox">
                <span class="frm__label__txt">IE 8</span>
            </label>
            <label class="frm__label">
                <input class="frm__label__chk" type="checkbox">
                <span class="frm__label__txt">Chrome</span>
            </label>
            <label class="frm__label">
                <input class="frm__label__chk" type="checkbox">
                <span class="frm__label__txt">Firefox</span>
            </label>
            <label class="frm__label">
                <input class="frm__label__chk" type="checkbox">
                <span class="frm__label__txt">Opera</span>
            </label>
        </div>

        <div class="left third frm">
            <div class="ia-single--header">
                Mobile Testing
            </div>
            <label class="frm__label">
                <input class="frm__label__chk" type="checkbox">
                <span class="frm__label__txt">iOS</span>
            </label>
            <label class="frm__label">
                <input class="frm__label__chk" type="checkbox">
                <span class="frm__label__txt">Android</span>
            </label>
        </div>

        <div class="left third frm">
            <div class="ia-single--header">
                Miscellaneous
            </div>
            <label class="frm__label">
                <input class="frm__label__chk" type="checkbox">
                <span class="frm__label__txt">Requires Safe Search</span>
            </label>
        </div>
    {{/ne_and}}
{{/ne_and}}
