<div class="dev_milestone-container milestone-panel container-testing" id="testing">
    <div class="dev_milestone-container__header container-testing__header">
        <h3 class="dev_milestone-container__header__title left">
            Testing
        </h3>
        <span class="clearfix"></span>
    </div>

    <div class="dev_milestone-container__body container-testing__body">
    </div>
</div> 
