<div class="left third">
    <div class="ia-single--header">
        Browser Testing
    </div>
    <div class="dev_milestone-container__body__div">
        <i data-panel="testing" class="browsers_ie dev_milestone-container__body__div__checkbox {{#if permissions.can_edit}}js-autocommit{{/if}} icon-check{{#is_false live.browsers_ie}}-empty{{/is_false}}" id="browsers_ie-check"/>
        <span class="dev_milestone-container__body__readonly check-txt">
            IE 8
        </span>
    </div>
    <div class="dev_milestone-container__body__div">
        <i data-panel="testing" class="browsers_chrome dev_milestone-container__body__div__checkbox {{#if permissions.can_edit}}js-autocommit{{/if}} icon-check{{#is_false live.browsers_chrome}}-empty{{/is_false}}" id="browsers_chrome-check"/>
        <span class="dev_milestone-container__body__readonly check-txt">
            Chrome
        </span>
    </div>
    <div class="dev_milestone-container__body__div">
        <i data-panel="testing" class="browsers_firefox dev_milestone-container__body__div__checkbox {{#if permissions.can_edit}}js-autocommit{{/if}} icon-check{{#is_false live.browsers_firefox}}-empty{{/is_false}}" id="browsers_firefox-check"/>
        <span class="dev_milestone-container__body__readonly check-txt">
            Firefox
        </span>
    </div>
    <div class="dev_milestone-container__body__div">
        <i data-panel="testing" class="browsers_safari dev_milestone-container__body__div__checkbox {{#if permissions.can_edit}}js-autocommit{{/if}} icon-check{{#is_false live.browsers_safari}}-empty{{/is_false}}" id="browsers_safari-check"/>
        <span class="dev_milestone-container__body__readonly check-txt">
            Safari
        </span>
    </div>
    <div class="dev_milestone-container__body__div">
        <i data-panel="testing" class="browsers_opera dev_milestone-container__body__div__checkbox {{#if permissions.can_edit}}js-autocommit{{/if}} icon-check{{#is_false live.browsers_opera}}-empty{{/is_false}}" id="browsers_opera-check"/>
        <span class="dev_milestone-container__body__readonly check-txt">
            Opera
        </span>
    </div>
</div>

<div class="left third">
    <div class="ia-single--header">
        Mobile Testing
    </div>
    <div class="dev_milestone-container__body__div">
        <i data-panel="testing" class="mobile_ios dev_milestone-container__body__div__checkbox {{#if permissions.can_edit}}js-autocommit{{/if}} icon-check{{#is_false live.mobile_ios}}-empty{{/is_false}}" id="mobile_ios-check"/>
        <span class="dev_milestone-container__body__readonly check-txt">
            iOS
        </span>
    </div>
    <div class="dev_milestone-container__body__div">
        <i data-panel="testing" class="mobile_android dev_milestone-container__body__div__checkbox {{#if permissions.can_edit}}js-autocommit{{/if}} icon-check{{#is_false live.mobile_android}}-empty{{/is_false}}" id="mobile_android-check"/>
        <span class="dev_milestone-container__body__readonly check-txt">
            Android
        </span>
    </div>
</div>

<div class="left third">
    <div class="ia-single--header">
        Miscellaneous
    </div>
    <i data-panel="base_info" class="unsafe dev_milestone-container__body__div__checkbox {{#if permissions.can_edit}}js-autocommit{{/if}} icon-check{{#is_false live.unsafe}}-empty{{/is_false}}" id="unsafe-check"/>
    <span class="dev_milestone-container__body__readonly check-txt">
        Requires safe search
    </span>
</div>
