{{#if topic}}
    <span class="sep--after">
        Categories:
        {{#each topic}}
            {{this}}{{#unless @last}}, {{/unless}}
        {{/each}}
    </span>
{{/if}}

{{#if repo}}
    <span class="sep--after">
        Type: {{repo}}
    </span>
{{/if}}

{{#if dev_milestone}}
    <span>
        Status: {{dev_milestone}}
    </span>
{{/if}}
