<@ IF c.user @>
  <p class="infobox">This site is under construction.</p>
<@ ELSE @>
  <p class="infobox">Tip: Use the short URL <a href="http://ddg.gg/">ddg.gg</a> for less typing.</p>
<@ END @>

<div class="aboutddg">
  <h2>Welcome!</h2>
  <p><a href="https://duckduckgo.com/">DuckDuckGo</a> is a general purpose search engine.</p>
  <p>Our search engine is very user driven. You can engage with us on a number of social platforms (see links on right). We created this open-source community platform to serve as a central hub for community activity.</p>
  <h2>Things you can do</h2>
  <ul>
    <li><a href="<@ u('My','register') @>">Translate DuckDuckGo</a></li>
    <li><a href="https://duck.co/topic/duckduckgo-s-new-public-xmpp-jabber-service-on-dukgo-com">Chat via XMPP/Jabber</a></li>
    <li><a href="https://github.com/duckduckgo/community-platform">Develop this site</a></li>
    <li><a href="https://github.com/duckduckgo/duckduckgo/wiki">Develop goodies</a></li>
    <li><a href="http://duckduckgo.com/spread.html">Spread DuckDuckGo!</a></li>
    <li><a href="<@ u('Base','feedback') @>">Submit feedback</a></li>
  </ul>
</div>

<div class="aboutddg">
  <h2>DuckDuckGo Social</h2>
  <ul>
    <li><a href="http://duck.co/">Forum</a></li>
    <li><a href="http://twitter.com/duckduckgo">Twitter</a> (<a href="http://twitter.com/duckduckgo/team/members">Team</a>)</li>
    <li><a href="http://facebook.com/duckduckgo">Facebook</a></li>
    <li><a href="http://www.reddit.com/r/duckduckgo">/r/duckduckgo</a></li>
    <li><a href="http://identi.ca/duckduckgo">identi.ca</a></li>
    <li><a href="https://joindiaspora.com/u/duckduckgo">diaspora</a></li>
    <li><a href="http://webchat.freenode.net/?channels=duckduckgo">IRC Channel</a></li>
    <li><a href="https://github.com/duckduckgo">GitHub</a></li>
  </ul>
</div>

