<div class="comment_table">
	<@ IF comments.count @>
		<@ FOREACH comment IN comments.list @>
			<@ INCLUDE comment/comment.tt @>
		<@ END @>
	<@ END @>
	<@ IF c.user @>
		<div class="comment_add_title"><@ l('Add a comment') @>:</div>
		<div class="comment_add"><@ INCLUDE comment/add.tt context=comments.context context_id=comments.context_id @></div>
	<@ ELSE @>
		<@ l('Please login to make comments') @>
	<@ END @>
</div>