<a href="<@- SWITCH comment.context -@>
<@-   CASE 'DDGC::DB::Result::Token::Domain::Language' -@>
	<@- SET obj = comment.get_context_obj -@>
	<@- u('Translate','locale_comments',obj.token_domain.key,obj.language.locale) -@>
<@-   CASE 'DDGC::DB::Result::Token::Language' -@>
	<@- u('Translate','tokenlanguage',comment.context_id) -@>
<@-   CASE -@>
	<@- comment.context -@>
<@- END -@>#comment_<@ comment.id @>">Go to thread</a>
