<@- SWITCH comment.context -@>
<@-   CASE 'DDGC::DB::Result::Token::Domain::Language' -@>
	<@- SET obj = comment.get_context_obj -@>
	<@- u('Translate','comments',obj.key,obj.locale) -@>
<@-   CASE 'DDGC::DB::Result::Token::Language' -@>
	<@- u('Translate','tokenlanguage',comment.context_id) -@>
<@- END -@>