/* 
 *  _litestrap dumb stuff
 *
 * You may need to do this stuff.  It's kind of dumb sometimes.  I'm here for you.
 *
 */      
 
/* 
	Fun fun Rotation!
*/
.rotate {	
  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg); 
  -ms-transform: rotate(90deg); 
  -o-transform: rotate(90deg); 
  transform: rotate(90deg); 
}
    .ie8 .rotate, .lt-ie9 .rotate {
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    }

.rotate--45 {
    -ms-transform:rotate(45deg);
	-moz-transform: rotate(45deg); 
	-o-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
    .ie8 .rotate--45, .lt-ie9 .rotate--45 {
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)";
    }

.rotate--ccw, .rotate--270 {
  /* -90, 270, who's counting, right? */
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -ms-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  transform: rotate(-90deg);
}
    .ie8 .rotate--ccw, .lt-ie9 .rotate--ccw,
    .ie8 .rotate--270, .lt-ie9 .rotate--270{ 
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }

.rotate--180 {
  -webkit-transform: rotate(180deg); 
  -moz-transform: rotate(180deg); 
  -ms-transform: rotate(180deg); 
  -o-transform: rotate(180deg); 
  transform: rotate(180deg); 
}
    .ie8 .rotate--180, .lt-ie9 .rotate--180 { 
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    }
	