/* 
 *  _litestrap spacing
 *
 * Spacing Helpers
 *
 */

/* 
	Margin Helpers
*/
.mg { margin-top: 0.5em; margin-bottom: 0.5em; }
.mg--big { margin-top: 1.5em; margin-bottom: 1.5em;}
.mg--double { margin-top: 1em; margin-bottom: 1em; }
.mg--small { margin-top: 0.25em; margin-bottom: 0.25em; }

.mg-top { margin-top: 0.5em; }
.mg-top--big { margin-top: 1.5em; }
.mg-top--double { margin-top: 1em; }
.mg-top--small, .mg-top--half { margin-top: 0.25em; }
.mg-top--none { margin-top: 0; }

.mg-bottom { margin-bottom: 0.5em; }
.mg-bottom--big { margin-bottom: 1.5em; }
.mg-bottom--double { margin-bottom: 1em; }
.mg-bottom--small, .mg-bottom--half { margin-bottom: 0.25em; }
.mg-bottom--none { margin-bottom: 0; }	

/* 
	Padding Helpers
*/
.pd { padding-top: 0.5em; padding-bottom: 0.5em; }
.pd--big { padding-top: 1.5em; padding-bottom: 1.5em; }
.pd--double { padding-top: 1em; padding-bottom: 1em; } 
.pd--small { padding-top: 0.25em; padding-bottom: 0.25em; }

.pd-top { padding-top: 0.5em; }
.pd-top--big { padding-top: 1.5em; }
.pd-top--double { padding-top: 1em; }
.pd-top--small, .pd-top--half { padding-top: 0.25em; }
.pd-top--none { padding-top: 0; }

.pd-bottom { padding-bottom: 0.5em; }
.pd-bottom--big { padding-bottom: 1.5em; }
.pd-bottom--double { padding-bottom: 1em; }
.pd-bottom--small, .pd-top--half { padding-bottom: 0.25em; }
.pd-bottom--none { padding-bottom: 0; }	