/*
	Buttons
	(Most of the basics are handled by litestrap - this is for custom stuff)
*/

	.btn--wire--hero {
		&.is-disabled {
			opacity: 0.5;
			background-color: transparent;
			color: $white;
			cursor: default;
		}
	}

.btn--wire__blue {
    @extend .btn;
    color: $blue-light;
    border-color: $blue-light;
    background-color: transparent;

    &:hover {
	color: $blue-light;
    }
}