.dev_milestone-container {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0.5em;
    padding-left: 0;
}

input[type="text"] {
    width: 100%;
}

.topic-separator {
    .frm__select {
        height: 1.84em;
    }
}

$frm__input-size: 24em;
.frm__input--half {
    width: $frm__input-size / 2em;
}

#producer-input {
    width: 55%;
}

#developer-input {
    width: 55%;
}

#metafield_container {
    min-width: 1000px;

    .frm__input {
        width: $frm__input-size;
    }
}

.ia-single--name {
    span[class="frm__select"] {
        vertical-align: super;
    }
}

#metafield_container {
    textarea {
        width: 24em;
    }
}

.ia-single--name {
    h2 {
        .frm__input {
            font-size: 0.7em;
            width: 15em;
        }
    }
}