.dev_milestone-container {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0.5em;
    padding-left: 0;
}

$frm__input-size: 24em;
.frm__input {
    width: 100%;
    height: 2.3em;
}

.frm__input--half {
    @extend .frm__input;
    width: $frm__input-size / 2;
}

#producer-input {
    width: 11.5em;
}

#metafields {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}

textarea[data-panel="base_info"] {
    width: 100%;
}

.ia-single--name {
    h2 {
        .frm__input {
            font-size: 0.45em;
            width: 15em;
        }
    }

    .frm__select {
        vertical-align: top;
    }
}

#toggle-devpage-static {
    left: 4px;
}

/* This is for the buttons at the top. Since they're black when they're clicked on, the text should be white. */

#toggle-devpage-static.disabled, #toggle-devpage-editable.disabled, #toggle-edited.disabled, #toggle-live.disabled, #pipeline_toggle-dev.disabled, #pipeline_toggle-live.disabled, #pipeline_toggle-deprecated.disabled {
    color: white;
}

.field-container {
    margin-right: 2em;
}

div[data-panel="base_info"] {
    box-shadow: none;
    height: 2.13em;

    .ddgsi {
        vertical-align: sub;
    }
}

#repo-select {
    text-transform: capitalize;
}

#example_query-input {
    width: 16em;
}

.dev_milestone-container__body__readonly__a {
    text-transform: capitalize;
}

#contributors, #base_info, #advanced, #testing {
    margin-top: 1em;

    .dev_milestone-container__body > .dev_milestone-container__body__label.ia-single--header:nth-child(1) {
        margin-top: 0;
    }
}

#advanced {
    margin-top: 2em;
}

.developer {
    .frm__select {
        background: $green;
        width: 7em;
    }

    .frm__select.invalid {
        background: $red-dark;
    }

    .invalid input.frm__input {
        border-color: $red-dark;
    }
}

.editpage span.developer_username input[type="text"] {
    width: 4.5em;
}

select.available_types {
    background-color: $green;
}

.invalid {
    select.available_types {
        background-color: $red-dark;
    }
}

.docs-link-icon {
    color: $grey-light;
}

.third_dev_align {
    width: 28%;
    margin-left: 4.7em;
}

#advanced > .third_dev_align:first-child {
    margin-left: 0;
}
