/*
	Forms

	For anything that isn't the search form
	(Newsletter signup, etc)
*/

.frm__select {
    @include border-radius(2px);
    @include box-sizing('initial');
}

// Override the checkboxes to display an image to make the look consistent across browsers.
.frm__label__chk {
    display: none;
}

.frm__label__chk + .frm__label__txt {
    background: url("/static/images/box-unchecked.svg") left center no-repeat;
    background-size: 16px 16px;
    display: inline-block;
    line-height: 1.4;
    padding: 0 0 0 24px;
    top: 5px;
    position: relative;
}

.frm__label__chk:checked + .frm__label__txt {
    background-image: url("/static/images/box-checked.svg");
}
