/* Style for the list of issues that can be found in the Developer Pages. */
.issues-list {
    font-size: 1.15384615384615em; // 15px;

    .tx-size--small {
        font-size: 0.866em; // 13px;
    }

    & > section {
	padding-bottom: 1em;
	
	/* Set name to inline-block so that we can truncate the text. */
	.issue-name {
	    display: inline-block;
	    vertical-align: bottom;
	    max-width: 80%;
	}

	& > header {
	    padding-bottom: 2em;

	    &.more-space {
		padding-bottom: 4em;
	    }
	}

	a[data-filter] {
	    margin-left: 1em;
	    padding-bottom: 0.4em;
	    font-weight: 500;

	    &.selected {
		border-bottom: 2px solid $blue-light;
	    }

	    &:before {
		content: attr(data-count);
		display: inline;
		padding-right: 0.3em;
	    }
	}

	& > ul {
	    padding: .5em 0;
	
	    & > li {
		padding: .5em 0;
		border-bottom: 1px solid $silver-dark;

		&:nth-of-type(1) {
		    border-top: 1px solid $silver-dark;
		}

		$repo-list: ('spice', 'S'),
		            ('goodies', 'G'),
		            ('fathead', 'F'),
		            ('longtail', 'L');
		
		&[data-repo]:before {
		    content: 'N';
		    display: inline;
		    float: left;
		    padding-right: 1em;
		    color: $grey;
		    width: 15px;
		    font-weight: 500;
		}

		@each $repo, $label in $repo-list {
		    &[data-repo=#{$repo}]:before {
			content: '#{$label}';
		    }
		}
	    }
	}
    }
}