/* Style for the list of issues that can be found in the Developer Pages. */
.issues-list {
    & > section {
	padding-bottom: 1em;
	
	/* Set name to inline-block so that we can truncate the text. */
	.issue-name {
	    display: inline-block;
	    vertical-align: bottom;
	    max-width: 80%;
	}

	& > header {
	    padding-bottom: 2em;
	}

	& > ul {
	    padding: .5em 0;
	
	    & > li {
		padding: .5em 0;
		border-bottom: 1px solid $silver-dark;

		&:nth-of-type(1) {
		    border-top: 1px solid $silver-dark;
		}

		$repo-list: ('spice', 'S'),
		            ('goodies', 'G'),
		            ('fathead', 'F'),
		            ('longtail', 'L');
		
		&.repo-tag:before {
		    content: 'N';
		    display: inline;
		    float: left;
		    padding-right: 1em;
		    color: $grey;
		    width: 15px;
		}

		@each $repo, $label in $repo-list {
		    &.repo-tag--#{$repo}:before {
			content: '#{$label}';
		    }
		}
	    }
	}
    }
}