#ia-single-top {
    background-color: $blue-light;
    color: $white;

    .content-wrap {
        margin-top: 1.5em;
        margin-bottom: 2em;
    }

    .ia-single--name h2 { 
        color: $white; 
        font-size: 2em;
        font-weight: 600;
    }

    .btn {
        border: 1px solid white;
    }

    .special-permissions .btn--wire--hero {
        @include border-radius(0.25em);
    }

    .pager-wrap {
        padding-right: 0.25em;
        overflow: initial;
    }

    #ia-single-top-details {
        line-height: 2.15em;

        span {
            vertical-align: middle;
            text-transform: capitalize;
        }
    }

    .ia-single--name h2 {
        font-weight: 500;
    }

    .edit-buttons {
        text-transform: capitalize;
    }
}

#ia-single-top, #ia-single-top--edit { padding: 3em 0 1em 0; }

.ia-single { margin-top: -1.1em; }

.ia-issues.ia-single--info {
    a { color: $slate; }

    .tag-name, .date, .author {
        color: $grey-light;
    }
}
