#new_ia_wizard {
    ul { 
	line-height: 1.66;
	padding-top: 10px;
	list-style: none;
    }
}

#new_ia_wizard_save {
    padding: 0.5em 1em;
    margin-bottom: 2em;
}

#create-ia-from-pr-save {
    margin-top: 0.5em;
    padding-top: 6px;
    padding-bottom: 6px;
}

#create-ia-from-pr-form {
    left: 45%;
    top: 50%;
    width: 31.6em;

    p {
	padding: 1em 0;
    }

    input { 
	margin-bottom: 1.5em;
	margin-top: 0.5em;
    }
    .button { width: 29.5em; }
}

#create-ia-from-pr-cancel, #signup-cancel, #login-cancel { cursor: pointer; }

#signup-form, #login-form {
    width: 32em;
    top: 36%;
    left: 43%;

    input, .first-p, .button { margin-bottom: 1em; }
    .button { width: 29.9em; }
}

#login-form { top: 20em; }

#new_ia_header {
    background-color: $blue-light;
    text-align: initial;

    h1, a {
	color: $white;
    }
    
    p {
	color: $blue-lightest;
    }
}

#signup-save {
    padding: 0.5em 1em;
    margin-bottom: 2em;
}

.new-wrap {
    @include wrapper();
    font-size: 15px;

    .center {
	text-align: center;
    }

    .modal-wrapper {
	padding: 2em;
    }

    hr {
	transform: scaleX(2);
    }

    .ia-new {
	padding-top: 1.76em;
	@include center-content(962px);

	&__title {
	    font-weight: 500;
	    margin-bottom: 10px;
	}

	.field_desc {
	    margin-bottom: 15px;
	}
    }

    .wizard_field {
	padding: 20px 0;
    }

    p {
	margin: 0;
    }

    .frm__input, .frm__text {
	border-radius: 3px;
	width: 100%;
	border: none;
	background-color: $silver;
	padding: 15px 20px;
    }

    .frm__input {
	height: 3.5em;
    }

    .frm__label__txt {
	overflow: initial;
	font-weight: 500;
    }

    .frm__text {
	min-height: 7em;
	max-width: 100%;
	line-height: 1.66;
    }

    .ddgsi-right {
	font-size: 0.7em;
	padding-right: 0.5em;
	color: $grey;
    }

    input[type=radio] {
	height: 1.2em;
	margin-right: 9px;
    }

    a {
	color: $blue;
    }

     .third {
	padding-top: 20px;
	& > * {
	    margin-left: 65px;
	}
    }

     .radio-repo {
	 padding: 0 1px;
     }

     .wizard_field_insert {
	 p {
	     font-size: 13px;
	     padding-left: 25px;
	     height: 4em;
	 }
     }

     .radio-repo--left {
	 padding-right: 30px;
     }

     .radio-repo--right {
	 padding-left: 30px;
     }
}

.error-message { color: #DE5833; }
