#new_ia_wizard {
    ul { 
       list-style: none;
    }
}

#new_ia_wizard_save {
    padding: 0.5em 1em;
    margin-bottom: 2em;
}

#create-ia-from-pr-form {
    left: 51em;
    top: 25em;

    input { margin-bottom: 1em; }
    .button { width: 93%; }
}

#create-ia-from-pr-cancel { cursor: pointer; }

#new_ia_header {
    background-color: $blue-light;
    text-align: initial;

    h1, a {
	color: $white;
    }
    
    p {
	color: $blue-lightest;
    }
}

.new-wrap {
    @include wrapper();

    .ia-new {
	padding-top: 3.5em;
	@include center-content(962px);

	&__title {
	    font-size: 15px;
	    font-weight: 500;
	}
    }

    .wizard_field {
	padding-left: 0.1em;
	padding-bottom: 2em;
    }

    .frm__input, .frm__text {
	border-radius: 3px;
	width: 100%;
	border: none;
    }

    .frm__input {
	height: 3em;
    }

    .frm__text {
	min-height: 5.8em;
	max-width: 100%;
    }

    .ddgsi-right {
	font-size: 0.7em;
	padding-right: 0.5em;
	color: $grey;
    }

    input[type=radio] {
	height: 1.3em;
    }

    a {
	color: $blue;
    }

    hr {
	margin: 1em 0 3em 0;
    }
}