a {
    &:hover {
	color: $blue;
    }
}

.overview-wrap {
    @include wrapper();
}

#ia-overview {
    /* This provides the spacing between the two columns */
    .overview__clm--left {
	font-size: 1.15384615384615em; // 15px
	padding-right: 35px;
    }

    .overview__clm--right {
	font-size: 1.15384615384615em; // 15px
	padding-left: 35px;
    }

    .tx-size--small {
	font-size: 0.866em;
    }

    /* This styles the headers before each section such as "Top Issues on GitHub" and "Instant Answers" */
    & > header {
	overflow: auto;
	padding-bottom: 2em;
	font-size: 1.15384615384615em; // 15px;


	& > * {
	    font-size: 1.4em;
	    font-weight: bold;
	}

	.btn {
	    font-size: 1em;
	    padding: 0 0.5em;
	    font-weight: 500;
	}
    }

    /* This gives each section some breathing room */
    & > section {
	padding-bottom: 2em;
    }

    /* This gives each issue a 1px separator */
    .iap-list {
	border-top: 1px solid $silver-dark;
	border-bottom: 1px solid $silver-dark;

	padding-top: 0.5em;
	margin-top: 2.5em;

	li {
	    padding: .5em 0;
	}
    }
}

#create-ia-from-pr { margin-right: 1em; }

#create-ia-from-pr-form {
    width: 40em;
    left: 43em;

    input { margin-bottom: 1em; }
}

#create-new-ia-form {
    width: 29.5em;
    left: 50em;

    #description-input {
        width: 100%;
        margin-bottom: 0.5em;
    }

    #id-input { width: 18.25em; }

    #name-input { width: 29em; }
}

#create-new-ia-form, #create-ia-from-pr-form {
    position: fixed;
    background-color: #fff;
    z-index: 1000;
    border: 1px solid #dbdbdb;
    top: 11em;
    box-shadow: 2px 5px 20px 5px #888;
    padding: 20px;

    .new-ia-form-section {
        margin-right: 0.5em;
    }
    
    .button { margin-right: 1em; }
}

/* General page style */
#ia-overview { 
    @include center-content(962px);

    margin-top: 3.5em; 

    ul li { list-style: none; }

    h2, h3 { text-transform: capitalize; }

    .btn--primary {
        padding: 0 5px;
        text-shadow: none;

        a { color: $white; }
    }
}

/* Top Issues */
#top-issues {
    .top-issues__title { 
        text-align: center; 
        width: 25em;
        margin-left: auto;
        margin-right: auto;
    }

    .main-tag { 
        border-bottom: 1px solid $platinum-dark;
        margin-top: 0.5em;
        padding: 1em 0 0;

        h2 { top: 0.25em; }

        .main-tag__right { 
            width: 30%; 
            margin-top: 11%;
            color: $white;
        }

        .tag-container { 
            padding: 0.15em 0.5em; 
            border-radius: 3px;
            text-align: center;
            max-width: 15em;
            min-width: 5em;

            h3 { 
                margin-top: 0.25em; 
                text-shadow: 2px 2px 2px $slate;
            }
        }

        .tag-bugs { background-color: $red; }

        .tag-lowhangingfruit { background-color: $green; }

        .tag-priorityhigh { background-color: $gold; }

        a { color: $slate; }

        a:hover { color: $blue-light; }

        .issue-title { margin-top: 0.25em; margin-bottom: 0; }

        .issues_col li { margin-bottom: 0.7em; }

        .issue-details { color: $grey-light; }
    }
}

/* Live and New IA Pages */
.iap-list {
    li.ia-item { 
        padding: 1em 0.25em 0.25em;
    }

    .ia-item--stamp { top: -4px; }

    i, .ia_date { color: $grey-light; }

    i.icon-bug { margin-left: 0.5em; }
}

