.wrap-pipeline { padding: 0 2em; }

.toggle-details { margin-right: 2em; }

#dev_pipeline .dev_pipeline-column {
    width: 22.5%;
    text-align: left;
    padding: 1em;

    .item-activity { 
        color: $grey-light; 
    }

    .item-activity, .activity-details {
        a { color: $blue; }
    }

    .activity-details {
        font-size: 0.75em;
        margin-left: 2.3em;
    }

    .icon-circle {
        color: $red;
    }

    .icon-bubbles {
        color: $grey-light;
    }

    .icon {
        margin-right: 0.5em;
        padding-left: 0.25em;
    }
}

.dev_pipeline-column:not(#pipeline-planning) {
    margin-left: 0.5em;
}

.dev_pipeline-column__title {
    font-weight: 600;
    font-size: 1.87em;
}

.dev_pipeline-column__list {
    li {
        list-style: none;
        padding: 0.3em 0;
        font-size: 1.1em;
        border-bottom: 1px solid #cdcdcd;

        a { color: #333; }

        .item-name { max-width: 9em; }

        .icon-check, .icon-check-empty {
            margin: 0.25em 0.25em 0 0;
        }
    }

    .ia-item--stamp {
        width: 20px;
        height: 20px;
        position: inherit;
        font-size: 0.8em;
    }
}

.pipeline-actions { 
    margin-left: 2em;

    #pipeline-action-submit {
        height: 1.6em;
        padding-top: 0;
        padding-bottom: 0.27em;
    }
}

