// now compass to do some of the heavy lifting
@import "bower_components/compass-sass-mixins/lib/compass";
@import "bower_components/compass-sass-mixins/lib/compass/support"; // automatic legacy browser support (kinda)
@import "bower_components/compass-sass-mixins/lib/animation/core";

@import "../../../bower_components/duckduckgo-colors/colors";
@import "../../../bower_components/_ls/objects/buttons";
@import "../../../bower_components/_ls/vars";
@import "../../../bower_components/duckduckgo-styles/vars";
@import "../../../bower_components/duckduckgo-styles/objects/sep";
@import "../sep";
@import "../fonts/style";
@import "../../../bower_components/duckduckgo-styles/objects/switch";
@import "../switch";

@import "../../../bower_components/duckduckgo-styles/mixins";
@import "../../../bower_components/duckduckgo-styles/objects/buttons";
@import "buttons";
@import "../../../bower_components/duckduckgo-styles/objects/forms";
@import "forms";
@import "../z-index";

@import "dev-nav";

@import "fonts";
@import "ia";
@import "dev";
@import "live";
@import "overview";
@import "pipeline";
@import "deprecated";
@import "new";
