.heavy {
    font-weight: 700;
}

.half-w {
    width: 42%;
}

/* General page style */
#ia-overview { 
    margin-top: 3.5em; 

    ul li { list-style: none; }

    h2, h3 { text-transform: capitalize; }
}

/* Top Issues */
#top-issues {
    margin-top: 2.5em;

    .top-issues__title { text-align: center; }

    .main-tag { 
        border-bottom: 1px solid #d0d0d0;
        margin-top: 0.5em;
        padding: 1em 0 0;

        h2 { top: -0.19em; }

        .main-tag__left { width: 30%; margin-top: 11%}

        .main-tag__right { margin-left: 2em; }

        a { color: #444; }

        a:hover { color: #4896D2; }

        .issue-title { margin-top: 0.5em; margin-bottom: 0; }

        .issue-details { color: #aaa; }
    }
}


/* Live and New IA Pages */
.iap-list {
    li.ia-item { 
        padding: 1em 0.25em 0.25em;
    }

    .ia-item--stamp { top: -4px; }
}

