.site-bottom {
    bottom: 0;
    background-color: #434A50;

    .nav-col {
	text-align: center;
    }
}

.footer-tagline {
    font-size: 0.9em;
    color: #E1E5E8;
    text-align: center;
    border-top: 1px solid rgba(136, 136, 136, 0.18);
    margin-top: 2em;
    padding-top: 20px;
}