@charset "utf-8";
/* CSS Document */


.account-table {
	border:none;
	margin-bottom:10px;
	width:100%;
}

.account-table_caption {
	font-size:22px;
	font-weight:600;
	height:50px;
	padding-bottom:10px;
	text-align:left;
}

.account-table td {
	border-top:2px solid #CCC;
	font-size:22px;
	font-weight:400;
	height:50px;
}

.account-table_flags {
	width:25px;
}

.account-table_BTNS {
	font-size:14px !important;
	text-align:right;
}

.account-table_BTNadd {
	padding-bottom:20px;
	text-align:right;
	width:190px;
}

#account-table_ftr {
	font-size:11px !important;
	padding-top:10px;
	padding-bottom:10px;
    border-top: 2px solid #CCCCCC;
}

#accont-table_ftrLeft {
	float:left;
}

#accont-table_ftrRight {
	float:right;
}

#tooltip {
	background-color:#FFFFAF;
	-moz-border-radius:4px;
	border-radius:4px;
	box-shadow: 1px 1px 6px #000;
	-webkit-box-shadow: 1px 1px 6px #000;
	-moz-box-shadow: 1px 1px 6px #000;
	color:#333;
	/*display:none;*/
	font-size:12px;
	margin-top:-170px;
	padding:5px;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	position:absolute;
	z-index:999;
}
