@charset "utf-8";
/* CSS Document */


.alert {
	font-size:16px !important;
	width:100%;
}

.ok {
	background-color:#BFD9BF;
	background-image:url(../../images/ICN_alertGreen.gif);
	background-repeat:no-repeat;
	border:1px solid #BFCCBF;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#006600;
	font-weight:600;
	height:43px;
	line-height:41px;
	margin-bottom:15px;
	text-indent:37px;
}

.ok a:link {
	color:#006600;
}

.ok a:visited {
	color:#006600;
}


.wrong {
	background-color:#F6D4D4;
	background-image:url(../../images/ICN_alertRed.gif);
	background-repeat:no-repeat;
	border:1px solid #E5BFBF;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#C01300;
	font-weight:600;
	height:43px;
	line-height:41px;
	margin-bottom:15px;
	text-indent:37px;
}

.wrong a:link {
	color:#C01300;
}

.wrong a:visited {
	color:#C01300;
}

.warning {
	background-color:#FEF2D5;
	background-image:url(../../images/ICN_alertYellow.gif);
	background-repeat:no-repeat;
	border:1px solid #FFE5BF;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#FF9900;
	font-weight:600;
	height:43px;
	line-height:41px;
	margin-bottom:15px;
	text-indent:37px;
}

.warning a:link {
	color:#FF9900;
}

.warning a:visited {
	color:#FF9900;
}

.close-ok {
	background-image:url(../../images/BTN_alertGreen.gif);
	background-repeat:no-repeat;
	display:block;
	float:right;
	height:43px;
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	width:35px;
}

.close-wrong {
	background-image:url(../../images/BTN_alertRed.gif);
	background-repeat:no-repeat;
	display:block;
	float:right;
	height:43px;
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	width:35px;
}

.close-warning {
	background-image:url(../../images/BTN_alertYellow.gif);
	background-repeat:no-repeat;
	display:block;
	float:right;
	height:43px;
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	width:35px;
}

.close-ok:hover, .close-wrong:hover, .close-warning:hover {
	cursor:pointer;
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}