@charset "utf-8";
/* CSS Document */

#boxes-highlight {
	width:945px;
}

.box-highlight {
	color:#FFF;
	display:block;
	float:left;
	font-size:24px;
	margin-right:15px;
	width:305px;
}

.box-highlight p {
	margin-left:20px;
	margin-top:15px;
	width:190px;
}

.translation {
	background-color:#C01300;
	background-image:url(../../images/ICN_boxTranslate.gif);
	background-position:right top;
	background-repeat:no-repeat;
	-moz-border-radius:4px;
	border-radius:4px;
	height:155px;
	line-height:27px;
	min-width:305px;
}

.developer {
	background-color:#0DC05A;
	background-image:url(../../images/ICN_boxDeveloper.gif);
	background-position:right top;
	background-repeat:no-repeat;
	-moz-border-radius:4px;
	border-radius:4px;
	height:155px;
	line-height:27px;
	min-width:305px;
}

.feedback {
	background-color:#0066CC;
	background-image:url(../../images/ICN_boxFeedback.gif);
	background-position:right top;
	background-repeat:no-repeat;
	-moz-border-radius:4px;
	border-radius:4px;
	height:155px;
	line-height:27px;
	margin-right:0px;
	min-width:305px;
}

.hack {
	background-color:#0066CC;
	background-image:url(../../images/ICN_boxQuakHack.gif);
	background-position:right top;
	background-repeat:no-repeat;
	-moz-border-radius:4px;
	border-radius:4px;
	height:155px;
	line-height:27px;
	margin-right:0px;
	min-width:305px;
}

.box-highlight a:link {
	color:#FFF;
	text-decoration:none;
}

.box-highlight a:visited {
	color:#FFF;
}

.usercount {
	color:#666;
	font-size:13px;
	text-align:center;
}