@charset "utf-8";
/* CSS Document */


body {
	font-family:segoe UI, Helvetica Neue, Helvetica;
	margin:0px;
}

#container {
	margin-bottom:60px;
	width:100%;
}

#container-inner {
	margin:0px auto;
	width:945px;
}


a:link {
	color:#333;
	text-decoration:underline;
}

a:visited {
	color:#333;
}

h1 {
	color:#333;
	font-size:23px;
}

h2 {
	color:#999;
	font-size:23px;
	margin:0px;
	padding:0px;
}

h3 {
	font-size:23px;
}

h4 {
	font-size:20px;
	font-weight:600;
	margin:0px;
	margin-bottom:20px;
	padding:0px;
}

h6 {
	color:#999;
	font-size:15px;
	margin:0px;
	padding:0px;
}

h7 {
	color:#333;
	font-size:15px;
	margin:0px;
	padding:0px;
}

ol {
	margin:10px;
	padding:0px;
}

ul {
	margin:0px;
	padding:0px;
	padding-bottom:7px;
	list-style:none;
}

li {
	margin-bottom:2px;
}

form {
	margin-bottom:0px;
}

fieldset {
	border:1px solid #A6A6A6;
	-moz-border-radius:4px;
	border-radius:4px;
	margin-bottom:20px;
	margin-top:10px;
}

select {
	border:1px solid #A6A6A6;
	-moz-border-radius:4px;
	border-radius:4px;
	font-size:15px;
	height:30px;
	margin-top:-5px;
	outline:0 none;
	padding:5px;
}

#breadcrumb {
	font-size:12px !important;
	height:20px;
	margin-bottom:20px;
}

#breadcrumb_left {
	float:left;
}

#breadcrumb_right {
	float:right;
}


.BTN_submit, .BTN_submitSmall {
	background-color:#CDCDCD;
	background-image:url(../../images/BTN_submit-BG.jpg);
	background-repeat:repeat-x;
	-moz-border-radius:4px;
	border-radius:4px;
	border:1px solid #999;
	color:#333 !important;
	font-weight:600;
	padding:9px;
	padding-left:15px;
	padding-right:15px;
	text-align:center;
	text-decoration:none !important;
	text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.BTN_submit:hover, .BTN_submitSmall:hover {
	background-color:#9C9C9C;
	background-image:url(../../images/BTN_submit-BG_H.gif);
	border:1px solid #666;
	cursor:pointer;
}

.BTN_submitSmall {
	padding:4px;
	padding-left:15px;
	padding-right:15px;
	padding-top:3px;
}

.BTN_delete {
	background-color:#CC0000;
	background-image:url(../../images/BTN_delete-BG.gif);
	background-repeat:repeat-x;
	-moz-border-radius:4px;
	border-radius:4px;
	border:1px solid #990000;
	color:#FFF !important;
	font-size:14px !important;
	font-weight:600;
	min-width:200px !important;
	padding:7px;
	padding-left:15px;
	padding-right:15px;
	padding-top:4px;
	text-decoration:none !important;
	text-shadow: 0px 1px 0px rgba(153,0,0, 1);
	width:100%;
}

.BTN_delete:hover {
	background-color:#990000;
	background-image:url(../../images/BTN_delete-BG_H.gif);
	border:1px solid #7D0202;
	acursor:pointer;
}

/* header */

#header {
	background-image:url(../../images/hdr_BG.png);
	background-repeat:repeat-x;
	color:#FFF;
	font-size:14px;
	height:95px;
	margin-bottom:25px;
	min-width:945px;
	text-shadow: 0px 1px 1px rgba(0,0,0, 0.5);
	width:100%;
}

#header-logo {
	float:left;
	margin-top:15px;
	margin-left:38px;
}

#header-right {
	float:right;
	margin-top:23px;
	margin-right:38px;
}

#header a {
	color:#FFF;
	text-decoration:none;
}

#header form {
	display:none;
}

/* footer */

#footer {
	background:#FBFBFB;
	border-top:1px solid #E5E5E5;
	bottom:0px;
	color:#333;
	font-size:13px;
	height:27px;
	left:0px;
	margin-top:20px;
	padding-top:7px;
	position:fixed;
	/*position:absolute;*/
	width:100%;
}

#footer a {
	color:#1168CC;
}

#footer-right {
	float:right;
	margin-right:10px;
}

#footer-right a {
	color:#747474 !important;
	text-decoration:none;
}

#footer-left
{
	float:left;
	margin-left:10px
}


