<!doctype html>
<!--[if IEMobile 7 ]> <html lang="en" class="no-js iem7"> <![endif]-->
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en" ng-app="app"><!--<![endif]-->
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<link rel="stylesheet" media="screen, projection, handheld" href="/ddh-static/css/content.css" />
<link rel="stylesheet" media="screen, projection, handheld" href="/ddh-static/css/ddgc.css" />


<!--[if lt IE 9]>
<script src="/ddh-static/js/html5shiv.js"></script>
<![endif]-->

<meta name="twitter:site" value="@duckco" />
<meta property="og:site_name" content="DuckDuckGo Community Platform" />
<meta name="description" content="Community Platform of DuckDuckGo - Translate DuckDuckGo, Develop Instant Answers, Discuss" />



    
</head>
<body class="" ng-controller="UserPageController">
    <div id="wrapper">
<div class="site-header desktop">
	<div class="content-wrap">
		
			<div class="header-logo">
				<div class="header-logo__logo"><a href="https://duck.co/"><img src="/ddh-static/images/logo.svg" alt="DuckDuckGo Community Platform" /></a></div>
			</div>	
		
<div class="header-nav">
    <ul>
        <li class="nav-develop"><a href="https://duck.co/ia/dev">Instant Answers</a></li>
        <li class="nav-docs"><a href="http://docs.duckduckhack.com/">Docs</a></li>
        <li class="nav-help"><a href="https://duck.co/help">Help</a></li>
        <li class="nav-blog"><a href="https://duck.co/blog">Blog</a></li>
    </ul>
</div>


    </div>
</div>


<div class="site-header mobile">
  <div class="content-wrap">
    <div class="flex-container">

      <div class="header-logo">
	<div class="header-logo__logo"><a href="/"><img src="/ddh-static/images/logo.svg" /></a></div>
      </div>

      <div class="nav-menu">
	<a href="#">
	  <i class="ddgsi ddgsi-menu"></i>
	</a>
      </div>
    </div>
  </div>
</div>

        <div class="site-main">
            <div class="">

<script src="/ddh-static/js/userpages/angular.min.js"></script>
<script src="/ddh-static/js/userpages/angular-sanitize.min.js"></script>
<script src="/ddh-static/js/userpages/moment.min.js"></script>
<script src="/ddh-static/js/userpages/underscore-min.js"></script>
<script src="/ddh-static/js/userpages/app.js"></script>
<script src="/ddh-static/js/userpages/UserPage.js"></script>

<link rel="stylesheet" href="/ddh-static/css/userpages/main.css">
<link rel="stylesheet" href="/ddh-static/fonts/userpages/octicons/octicons.css" charset="utf-8">
<link rel="stylesheet" href="/ddh-static/css/userpages/UserPage.css">

<title>{{response.gh_data.login}} | DuckDuckHack</title>

<!-- Header -->
<header>
  <div class="container">
    <div class="stats">
      <div class="third">
	<span>All Instant Answers</span>
	<h2>{{count.total_ias}}</h2>
	</div>
      <!--
      <div class="fourth">
	<span>Assigned Pull Requests</span>
	<h2>{{count.reviewed_prs}}</h2>
	</div>
      -->
      <div class="third">
	<span>Open Pull Requests</span>
	<h2>{{count.developed_prs}}</h2>
	</div>
      <div class="fourth">
	<span>Closed Pull Requests</span>
	<h2>{{count.closed_prs}}</h2>
	</div>
      </div>
</div></header>

<div class="container">

  <!-- Sidebar -->
  <aside>
    <div class="profile card">
      <img src="{{response.gh_data.avatar_url}}" />
      <div class="content">
	<h3>{{response.gh_data.name}}</h3>
	<div class="gray">
	  <a href="https://github.com/{{response.gh_data.login}}">@{{response.gh_data.login}}</a>
	  <br />{{response.gh_data.location}}
	  </div>

	</div>
</div>
    <div class="topic typeC" ng-repeat="topic in topics | orderBy:'-count'">
      <span class="amt"> {{topic.count}}</span>
      <span> {{topic.topic}}</span>
      <div class="bar" style="width: {{topic.count/count.max_topics*100}}%"></div>
    </div></aside>

  <!-- Main -->
  <main>
    <section class="ias">
      <h3>
	<div class="tabs">
	  <a href="#" ng-click="changeShownIAs(maintained)">
	    <span ng-class="{'active': show_ias == maintained}" >
	      Maintaining
	      <span class="badge">{{count.maintained_ias}}</span>
	      </span>
	    </a>
	  <a href="#" ng-click="changeShownIAs(ias_developed_only)">
	    <span ng-class="{'active': show_ias == ias_developed_only}">
	      Developed
	      <span class="badge">{{count.developed_only_ias}}</span>
	      </span>
	    </a>
	  </div>
	Instant Answers
	</h3>

      <div ng-repeat="ia in show_ias | orderBy: iaSort" ng-click="ia.expand = !ia.expand" ng-class="{false: 'add-space'}[!ia.expand]">
	<div class="space"></div>

	<div class="instantanswer typeC flex-container" ng-include="'/ddh-static/partials/c_instantanswer.html'">
	</div>

	<div class="issue-container" ng-class="{true: 'unexpand', false: 'expand'}[!ia.expand || ia.issues.length == 0]">
	  <div class="ia-issue" ng-repeat="issue in ia.issues | orderBy: '-updated_at'">
	    <span class="octicon" ng-class="{true: 'octicon-git-pull-request', false: 'octicon-issue-opened'}[!!issue.isa_pull_request]"></span>
	    <a href="https://github.com/{{issue.github_repo.full_name}}/issues/{{issue.number}}">{{issue.title}}</a>
<!--	    <div class="maintainer-status">Maintainer Input</div> -->
	    <span class="subtitle pull-right">
	      {{fn.getFromNow(issue.updated_at)}}
	    </span>
	  </div>
	</div>

	<div class="space"></div>
      </div>

      </section>

    <section>
      <div class="flex-container">
	<!-- PR Reviews 
	<h3 ng-if="count.reviewed_prs" ng-class="{'margin-right': count.developed_prs}" class="grid-1">Assigned Pull Requests</h3>
	<!-- Open PRs 
	<h3 ng-if="count.developed_prs" ng-class="{'margin-left': count.reviewed_prs}" class="grid-1">Open Pull Requests</h3>
	-->
	</div>

      <div class="flex-container align-top"></div>

	<!-- PR Reviews
	<div ng-if="count.reviewed_prs" ng-class="{'margin-right': count.developed_prs}" class="grid-1">
	  <div ng-repeat="issue in prs_open_reviewed | orderBy: '-updated_at'" ng-include="'/ddh-static/partials/c_issue2.html'" class="issue typeC flex-container">
	    </div>
	  </div>

	<!-- Open PRs 
	<div ng-if="count.developed_prs" ng-class="{'margin-left': count.reviewed_prs}" class="grid-1">
	  <div ng-repeat="issue in prs_open_developed | orderBy: '-updated_at'" ng-include="'/ddh-static/partials/c_issue.html'" class="issue typeC hideAvatar flex-container">
	    </div>
	  </div>
	</div>
      -->

      <div class="misc">
	<h3 >Other Issues & Pull Requests</h3>
	  <div ng-repeat="issue in prs_open_developed | orderBy: '-updated_at'" ng-include="'/ddh-static/partials/c_issue.html'" class="issue typeC hideAvatar flex-container"></div>


      </section>

    <section ng-if="count.open_prs">



      </section>
    </main>


</div> <!-- /.container -->

            </div>
        </div> <!--.site-main-->
<div class="site-bottom">
	<div class="content-wrap clearfix">
		<div class="third">
			<div class="nav-col">
				<h4>Community</h4>
				<ul>
					<li><a href="https://duck.co/">Duck.co</a></li>
					<li><a href="http://duckduckhack.com/">DuckDuckHack</a></li>
					<li><a href="https://duckduckgo.com/spread">Spread</a></li>
					<li><a href="https://duck.co/help/community/swag">Swag</a></li>
				</ul>
			</div>
		</div>
		<div class="third">
			<div class="nav-col">
				<h4>Follow</h4>
				<ul>
					<li><a href="https://twitter.com/duckduckgo">Twitter</a></li>
					<li><a href="https://duck.co/blog">Blog</a></li>
					<li><a href="https://www.reddit.com/r/duckduckgo">Reddit</a></li>
					<li><a href="https://github.com/duckduckgo">GitHub</a></li>
				</ul>
			</div>
		</div>
		<div class="third">
			<div class="nav-col">
				<h4>More</h4>
				<ul>
					<li><a href="https://duck.co/help">Help</a></li>
					<li><a href="https://duck.co/help/privacy">Privacy</a></li>
					<li><a href="https://duckduckgo.com/hiring/">Jobs</a></li>
					<li><a href="https://duckduckgo.com/traffic.html">Traffic</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="content-wrap">
	  <div class="footer-tagline">
	    © DuckDuckGo. The search engine that doesn't track you.
	  </div>
	</div>
</div>
    </div> <!--wrapper-->
<div id="login-box" class="reveal-modal modal-form account-form">
    <h4>Login</h4>
    <form action="/my/login" method="post">

        <input type="hidden"
               name="action_token"
               class="text"
               value=""
        />

        <div class="input-wrap">
            <input type="text"
                   placeholder="Your Username"
                   name="username"
                   class="text"
                   value=""
            />
        </div>

        <div class="input-wrap">
            <input type="password"
                   placeholder="Your Password"
                   name="password"
                   class="text password"
            />
        </div>

        <fieldset class="buttons">
            <span class="half  palm-half">
                <input type="button" value="Cancel" class="button close-modal" />
            </span>
            <span class="half  palm-half">
                <input type="submit" value="Login" class="button blue submit" />
            </span>
        </fieldset>

        <div class="account-links clear">
            <p class="half  palm-half">
                <a href="/my/forgotpw">Forgot your password?</a>
            </p>
            <p class="half  palm-half">
                Don't have an account? <a href="/my/register">Sign up</a>
            </p>
        </div>
    </form>
</div>
</body>
</html>
