<!-- Outside is wrapped within <div class="ia..."> -->

<div class="grid-6">
  <strong><a href="https://duck.co/ia/view/{{ia.id}}" ng-click="appendToUrl('iapage_' + ia.id)">{{ia.name}}</a></strong>
  <span class="count" ng-if="ia.prs_count">{{ia.prs_count}} <span class="octicon octicon-git-pull-request"></span></span>
  <span class="count" ng-if="ia.issues_count">{{ia.issues_count}} <span class="octicon octicon-issue-opened"></span></span>
</div>

<!-- developers -->
<div class="avatars grid-2 pad-right-20">
    <div class="avatar" ng-repeat="dev in ia.contributors" title="{{dev.username}}">
        <a href="/{{dev.username.toLowerCase()}}" ng-click="appendToUrl('avatar_' + dev.username.toLowerCase())">
            <span ng-if="dev.avatar_url">
                <img src="{{dev.avatar_url}}" />
            </span>
            <span ng-if="! dev.avatar_url">
                {{fn.firstUsernameChar(dev.username)}}
            </span>
        </a>
    </div>
</div>

<!-- status -->
<div class="status full {{ia.dev_milestone}} grid-1">{{ia.dev_milestone}}</div>
