<span class="grid-6 content">
  <strong><a href="https://github.com/{{issue.github_repo.full_name}}/issues/{{issue.number}}" ng-click="appendToUrl('issue_' + issue.github_repo.full_name + '_' + issue.number)">{{issue.title}}</a></strong>
  <span class="subtitle comment">{{issue.comments}} <span class="octicon octicon-comment"></span></span>
</span>

<span class="grid-2 subtitle text-right pad-left-10">{{fn.getFromNow(issue.updated_at)}}</span>


<!-- developer -->
<!-- <div class="avatars" ng-bind-html="fn.getAvatar(users, issue.user.login, 'right')"></div> -->
