<span class="octicon octicon-issue-opened" ng-class="{true: 'octicon-git-pull-request', false: 'octicon-issue-opened'}[!!issue.isa_pull_request]" style="padding-right: 1em"></span>

<span class="grid-6 content">
  <div ng-if="issue.ia_name">
    <div class="one-line issue-name"><strong><a href="https://github.com/{{issue.github_repo.full_name}}/issues/{{issue.number}}" ng-click="addImg('issueianame', issue.github_repo.full_name + issue.number)">{{issue.title}}</a></strong></div>
    <span class="subtitle sep--after" ng-if="issue.ia_name"><a href="https://duck.co/ia/view/{{issue.ia_id}}" ng-click="addImg('iapageinpr', issue.ia_id)" class="subtitle">{{issue.ia_name}}</a></span>
    <span class="subtitle comment" ng-if="issue.comments">{{issue.comments}} <span class="octicon octicon-comment"></span></span>
  </div>

  <div ng-if="!issue.ia_name">
      <span style="width: initial;" class="one-line issue-name"><strong><a class="issue-link one-line" href="https://github.com/{{issue.github_repo.full_name}}/issues/{{issue.number}}" ng-click="addImg('issue', issue.github_repo.full_name + issue.number)" ><div class="issue-ellipsis">{{issue.title}}</div></a>
      </strong>
	<span class="subtitle comment" ng-if="issue.comments">{{issue.comments}} <span class="octicon octicon-comment"></span></span>
      </span>
  </div>

</span>

<span class="grid-2 subtitle text-right pad-left-10">{{fn.getFromNow(issue.updated_at)}}</span>


<!-- developer -->
<!-- <div class="avatars" ng-bind-html="fn.getAvatar(users, issue.user.login, 'right')"></div> -->
