<ul class="admin" role="navigation">
  <li><a href="<@ u('Admin::User','index') @>">Users</a></li>
  <li><a href="<@ u('Admin::Language','index') @>">Languages</a></li>
  <li><a href="<@ u('Admin::Token','index') @>">Translations</a></li>
  <li><a href="<@ u('Admin::Help','index') @>">Help</a></li>
</ul>
