<@ IF resetok @>
<p>Your password has been reset.</p>
<@ ELSE @>
<form action="<@ u('My','forgotpw_tokencheck',check_username,check_token) @>" method="post" id="formForgotpw_tokencheck" class="my">
  <fieldset>
  <legend class="ac"><span>Reset Password?</span></legend>
    <label for="reset">I'm sure, reset my password.</label>
      <input type="submit" value="Reset" name="forgotpw_tokencheck" />
  </fieldset>
</form>
<@ END @>
