<div class="forgotpw_tokencheck mybox">
	<form action="<@ u('My','forgotpw_tokencheck',check_username,check_token) @>" method="post" name="forgotpw_tokencheckform" id="forgotpw_tokencheckform">
		<@ IF c.stash.resetok == ok @>
			<div>
				Your password has been reset.
			</div>
		<@ ELSE @>
			<div>
				I'm sure, reset my password.
			</div>
			<div>
				<input type="submit" value="Reset" name="forgotpw_tokencheck" />
			</div>
		<@ END @>
	</form>
</div>
