<!DOCTYPE html>
<html lang="<@ language @>">
<@ PROCESS head.tt @>
  <body>
    <@ INCLUDE header.tt @>
    <div class="main" role="main">
    <@ IF headline_template @>
      <@ INCLUDE headline.tt @>
    <@ END @>
    <@ PROCESS $LAYOUTS.shift @>
    </div>
    <div id="footer" role="contentinfo">
      <@ INCLUDE footer.tt @>
    </div>
	<@ IF c.user @>
		<iframe src="<@ u('Base','pulse' ) @>" id="pulse"></iframe>
	<@ END @>
  </body>
  <!-- <@ version @> -->
</html>
