<html>
<head>
<title>DuckDuckGo Community Portal - error</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<style type="text/css">

	body {
		font-size: 105%;
	}

	#content {
		margin: auto;
		padding-top: 20px;
		text-align: center;
		width: 600px;
	}
	
	.infobox {
		margin-top: 50px;
		padding: 10px;
		background:#fef9cd;
		border:#e1d980 1px solid;
		font-family: "Segoe UI","Arial",sans-serif;
		font: 20px arial,helvetica,clean,sans-serif;
		color: #222222;
	}

	.errorbox {
		margin-top: 50px;
		padding: 10px;
		background:#ff8888;
		border:#ff0000 1px solid;
		font-family: "Segoe UI","Arial",sans-serif;
		font: 20px arial,helvetica,clean,sans-serif;
		color: #222222;
	}

</style>
</head>
<body>
<div id="content">
	<p><a href="https://duckduckgo.com/">
		<img style="padding-top:10px;" title="Duck Duck Go" alt="Duck Duck Go" src="https://duckduckgo.com/nduck.v105.png" id="d">
	</a></p>
	<p class="errorbox">
		ERROR WHILE PROCESSING YOUR REQUEST
	</p>
	<p class="errorbox">
		<@ finalize_error @>
	</p>
	<div class="infobox">
		<p>(en) Please come back later</p>
		<p>(fr) SVP veuillez revenir plus tard</p>
		<p>(de) Bitte versuchen sie es später nocheinmal</p>
		<p>(at) Konnten's bitt'schoen spaeter nochmal reinschauen</p>
		<p>(no) Vennligst prov igjen senere</p>
		<p>(dk) Venligst prov igen senere</p>
		<p>(pl) Prosze sprobowac pozniej</p>
		<p>(pt) Por favor volte mais tarde</p>
		<p>(ru) Попробуйте еще раз позже</p>
		<p>(ua) Спробуйте ще раз пізніше</p>
	</div>
</div>
</body>
</html>
