<html>
<head>
<title>DuckDuckGo Community Portal - error</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<style type="text/css">

	body {
		font-size: 105%;
	}

	#content {
		margin: auto;
		padding-top: 20px;
		text-align: center;
		width: 600px;
	}
	
	.infobox {
		margin-top: 50px;
		padding: 10px;
		font-family: "Segoe UI","Arial",sans-serif;
		font: 20px arial,helvetica,clean,sans-serif;
		color: #222222;
                list-style: none;
	}

	.errorbox {
		margin-top: 50px;
		padding: 10px;
		background:#ff8888;
		border:#ff0000 1px solid;
		font-family: "Segoe UI","Arial",sans-serif;
		font: 20px arial,helvetica,clean,sans-serif;
		color: #222222;
	}

.actions {
  margin-top: .5em;
}

.actions li {
  width: 90%;
  margin: 0 auto 2em;
  padding: .5em;
  background-color: #EEE;
  border: 1px solid #DDD;
  -moz-border-radius: 5px; /*temp*/
}

.infobox li {
  background-color: #23b64f;
}
.infobox li:first-child {
  background-color: #c00;
}
/*IE7 does not support nth-child*/
/*this WILL break if more than 3 items exist on main page*/
.infobox li:first-child+li+li {
  background-color: #0f78be;
}

        .infobox a {
          display: block;
          min-height: 4em;
          color: #fff;
          font-weight: bold;
          font-size: 2em;
          line-height: 1.2em;
          text-decoration: none;
          text-shadow: 0 2px 2px rgba(51,51,51,0.3);
        }
                .infobox a:focus, .infobox a:hover {
                  text-decoration: underline;
                }

</style>
</head>
<body>
<div id="content">
    <ul class="actions infobox">   
	<li><a href="https://duckduckgo.com/">
		<img style="padding-top:10px;" title="DuckDuckGo Community Platform" alt="DuckDuckGo Community Platform" src="../root/static/images/cduck.large.png" id="d">
	</a></li>
	<li>
		ERROR WHILE PROCESSING YOUR REQUEST
	</li>
	<li>
		<@ finalize_error @>
	</li>
	<li>
		<p>(en) Please come back later</p>
		<p>(fr) SVP veuillez revenir plus tard</p>
		<p>(de) Bitte versuchen sie es später nocheinmal</p>
		<p>(at) Konnten's bitt'schoen spaeter nochmal reinschauen</p>
		<p>(no) Vennligst prov igjen senere</p>
		<p>(dk) Venligst prov igen senere</p>
		<p>(pl) Prosze sprobowac pozniej</p>
		<p>(pt) Por favor volte mais tarde</p>
		<p>(ru) Попробуйте еще раз позже</p>
		<p>(ua) Спробуйте ще раз пізніше</p>
	</li>
    </ul>
</div>
</body>
</html>
