      <ul role="navigation">
        <li><a href="<@ u('Base','welcome') @>">Welcome</a></li>
        <li><a href="<@ u('Base','about') @>">About</a></li> 
        <li><a href="<@ u('Base','privacy') @>">Privacy</a></li>
        <li><a href="<@ u('Base','termsofuse') @>">Terms Of Use</a></li>
      </ul>
      <ul>
        <li>Powered by <a href="http://www.perl.org/">Perl</a></li>
        <li>Delivered by <a href="http://nginx.org/">nginx</a></li>
        <li>Source at <a href="https://github.com/duckduckgo/community-platform">github</a></li>
        <li>&#169; 2011 <a href="http://duckduckgo.com">DuckDuckGo, Inc.</a></li>
      </ul>
