/* experimental and/or prototype */

.iadata td {
    padding-right:0.5em;
}
.iadata li {
    list-style:none;
}
.ia-single h3 {
    margin-top: 1em;
}
.ia_topic {
    border-radius: 2em;
    background-color:#e0e0e0;
    padding-left:1em;
    padding-right:1em;
}
.ia_topic a {
    color:black;
}
.ia_src_column {
    max-width:18em;
    overflow:hidden;
} 
.ia-single .desktop {
	width: 99.75%;
}
.clearfix {
	clear: both;
}
#ia_index {
    width: 70%;
}
#filters {
    width: 25%;
    text-align: center;
    position: fixed;
    margin-left: 45em;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 30em;
}
#ia_index #ia-list .topic {
    margin-left: 0.25em;
}
#ia_index_header {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}
#filters .button-group-vertical {
   width: 50%;
   margin: 1em auto 0 auto;
   border: 1px solid #babec9;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -o-border-radius: 3px;
   -webkit-border-radius: 3px;
   text-align: left;
} 
#filters .button-group-vertical ul {
    margin-bottom: 0;
}
#filters .button-group-vertical ul li {
    padding: 0.4em;
    border-bottom: 1px solid #babec9;
    list-style: none;
}
#filters .button-group-vertical ul li:last-child {
    border-bottom: 0;
}
.ia-single .screens {
	margin-top: 2em;
	margin-bottom: 2em;
}
.ia-single .button a {
	color: #474747;
}
.ia-single .hide {
	display: none;
}
.ia-single #input_example {
    margin-left: 1.15em;
}
.ia-single ul li {
    list-style-position: inside;
}
.ia-single .button.listbutton,
.ia-single .screens .button.arrow {
    padding: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    font-size: 14px;
}
.ia-single .button.listbutton span,
.ia-single .screens .button.arrow span {
    vertical-align: top;
    line-height: 0.8;
    font-weight: bold;
}
#ia_index #ia-list li,
.ia-single ul li.editpage,
#ia_commit li {
    list-style: none;
}
.ia-single ul li.editpage .newentry,
.ia-single .button.cancel {
    margin-left: 0.25em;
}
.ia-single .button#cancel {
    margin-left: 1em;
}
.ia-single #error {
    margin-bottom: 1em;
    color: #DD4C26;
}
.ia-single .pre_edit.highlight {
    border: 1px solid #333;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -o-border-radius: 5%;
    -webkit-border-radius: 5%;
}
.ia-single .pre_edit,
.ia-singe .editable input {
    padding-right: 0.7em;
}
.ia-single #examples .button.end {
    margin-bottom: 0.5em;
}
.ia-single .screens img {
    border: 1px solid black;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.ia-single .empty_field {
    color: #888;
}
.ia-single .issue {
    width: 50%;
    padding: 0.5em;
    text-align: left;
}
.ia-single .issue a .title {
    color: #333;
    font-size: 1.15em;
}
.ia-single .issue a .issue_tag {
    color: #fff;
    font-weight: 600;
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    margin-top: 0.25em;
    margin-left: 0.8em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.ia-single .issue a .issue_desc {
    color: #888;
    font-size: 0.85em;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ia-single #desc.editable,
.ia-single #desc.editable input {
    width: 100%;
}
.ia-single #desc.editable {
    margin-bottom: 0;
}
.ia-single .button.cancel[name="description"] {
    margin: 0.35em 0 1em;   
}
#view_commits {
    margin-left: 0.25em;
}
#edit_activate,
#edit_disable {
    margin-bottom: 1em;
}
#ia_index td {
    padding-left:4px;
}
#ia_commit .updates_list {
    width: 15em;
}
#ia_commit table thead th {
    padding: 0 2em;
}
#ia_commit tbody .updates_list td,
#ia_commit tbody .updates_list th {
    padding: 0.25em 2em;
    vertical-align: middle;
    cursor: pointer;
    word-wrap: break-word;
}
#ia_commit table th {
    font-size: 1.1em;
}
#ia_commit table th,
#ia_commit table td {
    border: 1px solid #888;
}
#ia_commit table th.empty_th {
    border: 0;
}
#ia_commit table {
    margin: 2em 0;
}
#ia_commit .updates_list .item_selected {
    background-color: #d5d5d5;
}
#ia_commit .updates_list .item_focused {
    background-color: #e9e9e9;
}
.idx_filter {
    text-transform: capitalize;
}

.one-line {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.ia-item {
    margin-bottom: 0.7em;
}

.ia-item--header {
    margin: 0;
    font-size: 1.3em;
}

.ia-item--header a {
    color: #474747;
}

.ia-item--stamp {
    display: inline-block;
    border: 1px solid #EF8373;
    text-align: center;
    width: 25px;
    vertical-align: top;
    font-size: 1.1em;
    margin-right: 0.5em;
    color: #EF8373;
    
    position: relative;
    top: 8px;
}

.ia-item--details {
    display: inline-block;
    width: 93%;
}

.ia-item--details--top {
    overflow: auto;
}

.ia-item--details--bottom {
    height: 1.5em;
    color: #777;
}

.ia-item--details--bottom::first-letter {
    text-transform: capitalize;
}