/* experimental and/or prototype */

.iadata td {
    padding-right:0.5em;
}
.iadata li {
    list-style:none;
}
.ia-single h3 {
    margin-top: 1em;
}
.ia_topic {
    border-radius: 2em;
    background-color:#e0e0e0;
    padding-left:1em;
    padding-right:1em;
}
.ia_topic a {
    color:black;
}
.ia_src_column {
    max-width:18em;
    overflow:hidden;
} 
.ia-single .desktop {
	width: 99.75%;
}
.clearfix {
	clear: both;
}
.ia-single .screens {
	margin-top: 2em;
	margin-bottom: 2em;
}
.ia-single .button a {
	color: #474747;
}
.ia-single .hide {
	display: none;
}
.ia-single #input_example {
    margin-left: 1.15em;
}
.ia-single ul li {
    list-style-position: inside;
}
.ia-single .button.listbutton,
.ia-single .screens .button.arrow {
    padding: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    font-size: 14px;
}
.ia-single .button.listbutton span,
.ia-single .screens .button.arrow span {
    vertical-align: top;
    line-height: 0.8;
    font-weight: bold;
}
.ia-single ul li.editpage {
    list-style: none;
}
.ia-single ul li.editpage .newentry {
    margin-left: 0.25em;
}
.ia-single .button#cancel {
    margin-left: 1em;
}
.ia-single #error {
    margin-bottom: 1em;
    color: #DD4C26;
}
.ia-single .pre_edit.highlight {
    border: 1px solid #333;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -o-border-radius: 5%;
    -webkit-border-radius: 5%;
}
.ia-single .pre_edit,
.ia-singe .editable input {
    padding-right: 0.7em;
}
.ia-single #examples .button.end {
    margin-bottom: 0.5em;
}
.ia-single .screens img {
    border: 1px solid black;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.ia-single .empty_field {
    color: #888;
}
.ia-single .issue {
    width: 50%;
    padding: 0.5em;
    text-align: left;
}
.ia-single .issue a .title {
    color: #333;
    font-size: 1.15em;
}
.ia-single .issue a .issue_tag {
    color: #fff;
    font-weight: 600;
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    margin-top: 0.25em;
    margin-left: 0.8em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.ia-single .issue a .issue_desc {
    color: #888;
    font-size: 0.85em;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
#edit_activate,
#edit_disable {
    margin-bottom: 1em;
}
#ia_index td {
    padding-left:4px;
}
.idx_filter {
    text-transform: capitalize;
}
