/* experimental and/or prototype */

.iadata td {
    padding-right:0.5em;
}
.iadata li {
    list-style:none;
}
.ia-single h3 {
    margin-top: 1em;
}
.ia_topic {
    border-radius: 2em;
    background-color:#e0e0e0;
    padding-left:1em;
    padding-right:1em;
}
.ia_topic a {
    color:black;
}
.ia_src_column {
    max-width:18em;
    overflow:hidden;
} 
.ia-single .desktop {
	width: 99.75%;
}
.clearfix {
	clear: both;
}
#ia_index {
    width: 100%;
}
#filters {
    width: 25%;
    text-align: center;
    position: static;
    top: 0;
}
#filters .one-field input.text {
    box-shadow: none;
    width: 87%;
    margin-right: 2.5em;
    border: 1px solid #babec9;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: 0.25em;
}
#filters .one-field #search-ias {
    line-height: 31px;
    box-shadow: none;
}
#filters ul li,
#filters .dropdown .dropdown_header {
    cursor: pointer;
}
#ia_index #ia-list .ia-item .ia-item--details--img {
    margin-top: 1em;
}
#filters .is-fixed {
    position: fixed;
    margin-left: 45em;
    margin-top: 1em;
    top: 0;
    width: 15.8% !important;
}
#ia_index #ia-list .topic {
    margin-left: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 0.9em;
    text-transform: capitalize;

    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;

    font-weight: 300;
}
#ia_index_header {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}
#filters .button-group-vertical {
   margin: 1em auto 0 auto;
   border: 1px solid #babec9;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -o-border-radius: 3px;
   -webkit-border-radius: 3px;
   text-align: left;
} 

#filters .button-group-vertical li:first-child {
    border-top: 1px solid #babec9;
}

#filters #filter_repo li:first-child {
    border-top: none;
}

#filters .button-group-vertical ul {
    margin-bottom: 0;
}
#filters .button-group-vertical ul li {
    padding: 0.4em;
    border-bottom: 1px solid #babec9;
}

#filters .dropdown .dropdown_header {
    padding: 0.4em;
}

#filters .button-group-vertical ul li {
    list-style: none;
}
#filters .button-group-vertical ul li:last-child {
    border-bottom: 0;
}
.ia-single .screens {
	margin-top: 2em;
	margin-bottom: 2em;
}
.ia-single .button a {
	color: #474747;
}
.ia-single .hide {
	display: none;
}
.ia-single #input_example {
    margin-left: 1.15em;
}
.ia-single ul li {
    list-style-position: inside;
}
.ia-single .button.listbutton,
.ia-single .screens .button.arrow {
    padding: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    font-size: 14px;
}
.ia-single .button.listbutton span,
.ia-single .screens .button.arrow span {
    vertical-align: top;
    line-height: 0.8;
    font-weight: bold;
}
#ia_index #ia-list li,
.ia-single ul li.editpage,
#ia_commit li {
    list-style: none;
}
.ia-single ul li.editpage .newentry,
.ia-single .button.cancel {
    margin-left: 0.25em;
}
.ia-single .button#cancel {
    margin-left: 1em;
}
.ia-single #error {
    margin-bottom: 1em;
    color: #DD4C26;
}
.ia-single .pre_edit.highlight {
    border: 1px solid #333;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -o-border-radius: 5%;
    -webkit-border-radius: 5%;
}
.ia-single .pre_edit,
.ia-singe .editable input {
    padding-right: 0.7em;
}
.ia-single #examples .button.end {
    margin-bottom: 0.5em;
}
.ia-single .screens img {
    border: 1px solid black;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.ia-single .empty_field {
    color: #888;
}
.ia-single .issue {
    width: 50%;
    padding: 0.5em;
    text-align: left;
}
.ia-single .issue a .title {
    color: #333;
    font-size: 1.15em;
}
.ia-single .issue a .issue_tag {
    color: #fff;
    font-weight: 600;
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    margin-top: 0.25em;
    margin-left: 0.8em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.ia-single .issue a .issue_desc {
    color: #888;
    font-size: 0.85em;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ia-single #desc.editable,
.ia-single #desc.editable input {
    width: 100%;
}
.ia-single #desc.editable {
    margin-bottom: 0;
}
.ia-single .button.cancel[name="description"] {
    margin: 0.35em 0 1em;   
}
#view_commits {
    margin-left: 0.25em;
}
#edit_activate,
#edit_disable {
    margin-bottom: 1em;
}
#ia_index td {
    padding-left:4px;
}
#ia_commit .updates_list {
    width: 15em;
}
#ia_commit table thead th {
    padding: 0 2em;
}
#ia_commit tbody .updates_list td,
#ia_commit tbody .updates_list th {
    padding: 0.25em 2em;
    vertical-align: middle;
    cursor: pointer;
    word-wrap: break-word;
}
#ia_commit table th {
    font-size: 1.1em;
}
#ia_commit table th,
#ia_commit table td {
    border: 1px solid #888;
}
#ia_commit table th.empty_th {
    border: 0;
}
#ia_commit table {
    margin: 2em 0;
}
#ia_commit .updates_list .item_selected {
    background-color: #d5d5d5;
}
#ia_commit .updates_list .item_focused {
    background-color: #e9e9e9;
}
.idx_filter {
    text-transform: capitalize;
}

.one-line {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.ia-item {
    padding-bottom: 0.5em;
    padding-top: 0.7em;
    border-bottom: 1px solid #DBDBDB;
    padding-left: 0.4em;
}

.ia-item:hover {
    background-color: #F7F7F7;
}

.ia-item--header {
    margin: 0;
    font-size: 1.3em;
}

.ia-item--header a {
    color: #474747;
}

.ia-item--stamp {
    display: inline-block;
    border: 1px solid #777;
    text-align: center;
    width: 25px;
    height: 25px;
    vertical-align: top;
    font-size: 1.1em;
    margin-right: 0.5em;
    color: #777;
    
    position: relative;
    top: 8px;
}

.ia-item--stamp::before {
    content: "N";
}

.ia-item--stamp.stamp--goodies::before {
    content: "G";
}

.stamp--goodies {
    border: 1px solid #ffd700;
    color: #ffd700;
}

.ia-item--stamp.stamp--spice::before {
    content: "S";
}

.stamp--spice {
    border: 1px solid #50AF5E;
    color: #50AF5E;
}

.ia-item--stamp.stamp--fathead::before {
    content: "F";
}

.stamp--fathead {
    border: 1px solid #2E7BB3;
    color: #2E7BB3;
}

.ia-item--stamp.stamp--longtail::before {
    content: "L";
}

.stamp--longtail {
    border: 1px solid #81869A;
    color: #81869A;
 }


 .ia-item--details {
     display: inline-block;
     width: 93%;
 }

 .ia-item--details--top {
     overflow: auto;
 }

 .ia-item--details--bottom {
     height: 1.5em;
     color: #777;
 }

 .ia-item--details--bottom::first-letter {
     text-transform: capitalize;
 }

 .btn--wire {
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     -ms-border-radius: 2px;
     -o-border-radius: 2px;
     border-radius: 2px;
     background: none;
     background-color: transparent;
     font-weight: normal;
     border: 1px solid #ccc;
     color: #aaa;
 }

#filter_repo a {
     color: #646464;
}

#filter_repo ul .is-selected {
    background-color: #F2F2F2;
}

#filter_topic a,
#filters .dropdown .dropdown_header span {
    color: #646464;
    text-transform: capitalize;
}

#filter_template a {
    color: #646464;
    text-transform: capitalize;
}

#filter_repo li {
    overflow: auto;
}

#filter_repo .repo {
    float: left;
}

.ia-repo {
    float: right;
    border: 2px solid #777;
    width: 12px;
    height: 12px;
    position: relative;
    top: 2px;
}

.ia-repo--goodies {
    border-color: #ffd700;
}

.ia-repo--goodies.fill {
    background-color: #ffd700;
}

.ia-repo--spice {
    border-color: #50AF5E;
}

.ia-repo--spice.fill {
    background-color: #50AF5E;
}

.ia-repo--fathead {
    border-color: #2E7BB3;
}

.ia-repo--fathead.fill {
    background-color: #2E7BB3;
}

.ia-repo--longtail {
    border-color: #81869A;
}

.ia-repo--longtail.fill {
    background-color: #81869A;
}

body.texture {
    background: transparent;
}

.dropdown_header {
    background-color: #F2F2F2;
}

#clear_filters {
    margin-top: 1em;
    padding: 0.4em;
}

.ia-index--left {
    width: 73%;
    border-right: 1px solid #ddd;
}

#ia_index_header {
    overflow: auto;
}

.ia_index_header--right {
    position: relative;
    top: 6px;
}

.ia_index_header--right a {
    margin-left: 0.7em;
    color: #474747;
}

#clear_filters {
    color: #474747;
}

#sort-updated {
    color: #BDBDBD;
}

#filter_template .is-selected {
    background-color: #F2F2F2;
}

#filter_topic .is-selected {
    background-color: #F2F2F2;
}

.ia-index-container {
    width: 97%;
}

.dropdown_header::after {
    content: "";
    border: 5px solid transparent;
    border-top-color: #333;
    position: absolute;
    display: block;
    top: 1em;
    left: 14.5em;
    border-bottom-width: 0;
}

.dropdown {
    position: relative;
}

.topic {
    cursor: pointer;
}

#filters {
    width: 24%;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Single page CSS */

.ia-single h2 {
    color: #474747;
    font-weight: 300;
    font-size: 2em;
}

.ia-single p::first-letter {
    text-transform: capitalize;
}

.ia-single p {
    color: #474747;
}

.ia-single .ia-single--header {
    color: #999;
    font-size: 0.9em;
    margin-bottom: 0.9em;
}

.ia-single ul {
    list-style-type: none;
}

.ia-single a {
    color: #7DB2DE;
}
