/*

Separators

Inline separators to split lines of text.

*/

%sep,
.sep,
.zcm__sep {
	border-left: 1px solid $divider-gray;
	margin: 0 $half-unit;
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	top: 0.15em;
	float: none;
	height: $base-unit;
	width: 0;
}

.sep--before:before,
.sep--after:after {
	@extend %sep;
	content: "";
	opacity: 0.4;
}
