/*
	On/Off Switch
*/

.switch {
	@include border-radius(10px);
	position: relative;
	height: 20px;
	width: 46px;
	background: $silver-light;
	.is-on & {
		background: $silver-light;
	}
}
	.switch__knob {
		@include border-radius(9px);
		@include single-transition(0.1s linear left);
		position: absolute;
		display: block;
		left: 2px;
		top: 2px;
		height: 16px;
		width: 16px;
		background-color: $blue-light;
		.is-on & {
			left: 28px;
		}
	}
	.switch__on {
		position: absolute;
		color: $white;
		line-height: 20px;
		left: 10px;
		display: none;
		font-size: 14px;
		.is-on & {
			display: block;
		}
	}
