/*
	On/Off Switch
*/
.switch {
	background: $blue-light;
	.is-on & {
		background: $blue-light;
	}
}
	.switch__knob {
		background-color: $silver-light;
                box-shadow: 0px 0px 3px #60a5da;
	}

