<@ IF !c.user @>	<@ l('You must be logged in for translating text') @>	<a href="<@ u('My','login') @>"><@ l('Login') @></a>	<a href="<@ u('My','register') @>"><@ l('Register') @></a><@ END @><a href="<@ u('My::Help','translate') @>"><@ l('Instructions for our translation system') @></a>