<h1>
	<@ l('Discuss the translation of %s into %s',token_domain.name,cur_language.name_in_english) @>
</h1>
<h4>
	<a href="<@ u('Translate','snippets',token_domain.key,cur_language.locale,{ only_untranslated => 1 }) @>"><@ l('Back to snippets') @></a>
</h4>

<@ INCLUDE comment/comments.tt comments=c.d.comments('DDGC::DB::Result::Token::Domain::Language',token_domain_language.id) @>