<@ IF !userpic_size @><@ SET userpic_size = 32 @><@ END @>
<img width="<@ userpic_size @>" height="<@ userpic_size @>" src="<@ user.public ? user.profile_picture ? user.profile_picture(userpic_size) : '/static/images/profile.male.png' : '/static/images/profile.anonymous.png' @>" alt="<@ user.public_username @>" title="<@ user.public_username @>">
