<div align=left>
<a href="<@ u('Forum','newthread') @>">New Thread</a><br/>
<ul>
<@ FOR thread IN threads @>
    <li><img src="/static/images/<@ thread.category @>.png"/>&nbsp;&nbsp;<a href="<@ u('Forum','thread',thread.url) @>"><@ thread.title @></a><br/>&nbsp;&nbsp;&nbsp;&nbsp;By <@ INCLUDE user/username16.tt user=thread.user @></li>
<@ END @>
</ul></div>
