<div align=left>
<a href="<@ u('Forum','index') @>">Forum</a> &gt; <b><@ thread.title @> <img src="/static/images/<@ thread.category @>.png"/></b><br/><br/>
<div align='left'>
<@ INCLUDE user/username32.tt user=thread.user @><br/>
<@ thread.rendered_text @></div>
<br/>
<@ thread.created @><@ #date.format(thread.created,"%D %T") @> <@ IF is_owner @><a href="<@ u('Forum','delete',thread.id) @>">Delete</a><@ END @>
</div>
<@ INCLUDE comment/comments.tt comments=c.d.comments('DDGC::DB::Result::Thread',thread.id) @>
